<div class="row haciadentro animaciones superior">
  <div class="col-xl-12">
    <div class="card pb0">
      <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">
          <i class="icon-cog title-icon align-vertical-icon-0"></i>
          Clase de Documentos
        </h5>
      </div>
      <div class="card-body pb0">
        <div class="row">
          <div class="col-0 col-sm-4 col-md-4 col-lg-4"></div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="form-group form-group-float">
              <label class="form-group-float-label font-weight-semibold"
                >Clase de Documentos</label
              >
              <select class="form-control selectCenter" [(ngModel)]="idModulo">
                <option
                  *ngFor="let item of ListModulos; let i = index"
                  [value]="item.id_modulo"
                >
                  {{ item.modulo }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-0 col-sm-4 col-md-4 col-lg-4"></div>
        </div>
        <div class="row">
          <div class="col-1 col-sm-3 col-md-4 col-lg-8"></div>
          <div class="col-8 col-sm-7 col-md-5 col-lg-2">
            <div
              class="form-group form-group-feedback form-group-feedback-right"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                id="buscarGrupoLupa"
                #texto
                [formControl]="textBuscarAdm011"
              />
              <div *ngIf="buscar" class="form-control-feedback">
                <i class="icon-spinner2 spinner"></i>
              </div>
              <div *ngIf="!buscar" class="form-control-feedback">
                <label for="buscarGrupoLupa">
                  <i class="icon-search4 puntero" title="buscar"></i
                ></label>
              </div>
            </div>
          </div>
          <div
            class="col-3 col-sm-2 col-md-3 col-lg-2"
            style="padding-top: 30px;"
          >
            <div class="form-control-feedback">
              <i
                data-toggle="modal"
                data-target="#modal_adm_011"
                class="icon-diff-added puntero xxl"
                (click)="nuevoAdm011()"
                title="agregar1"
              ></i>
              <i
                data-toggle="modal"
                data-target="#modal_adm_011"
                class="icon-pencil7 puntero xxl"
                (click)="nuevoAdm011()"
                title="agregar2"
              ></i>
            </div>
            <div class="form-control-feedback">
              <i
                data-toggle="modal"
                data-target="#modal_adm_011"
                class="icon-diff-added puntero xxl"
                (click)="nuevoAdm011()"
                title="agregar1"
              ></i>
              <i
                data-toggle="modal"
                data-target="#modal_adm_011"
                class="icon-pencil-2 puntero xxl"
                (click)="nuevoAdm011()"
                title="agregar2"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="table-responsive" *ngIf="auxma != undefined">
            <table class="table table-sm table-hover table-bordered">
              <thead class=" text-center">
                <tr class="bg-blue">
                  <th>Identificador</th>
                  <th>Descripcion</th>
                  <th>Sigla</th>
                  <th>Componente</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="table-border-double PRL0"
                  *ngFor="
                    let adm011 of auxma;
                    let i = index;
                    let impar = odd;
                    let par = even
                  "
                  [ngClass]="{ tablaCebradoPar: par, tablaCebradoImpar: impar }"
                >
                  <td class="text-center">{{ adm011.id_documento }}</td>
                  <td class="text-center">{{ adm011.descripcion }}</td>
                  <td class="text-center">{{ adm011.sigla }}</td>
                  <td class="text-center">{{ adm011.componente }}</td>
                  <td class="table-content-center text-center">
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        [disabled]="true"
                        [checked]="adm011.estado"
                        title="adm011.estado"
                        id="adm011estado{{ i }}"
                      />
                      <label
                        class="custom-control-label"
                        for="adm011estado{{ i }}"
                      ></label>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="list-icons">
                      <i
                        class="icon-file-eye"
                        title="visualizar"
                        (click)="OpcionesTable(adm011, 'visualizar')"
                        data-toggle="modal"
                        data-target="#modal_adm_011"
                        class="icon-file-eye text-primary-600 puntero"
                      ></i>
                      <i
                        class="icon-pencil7"
                        title="editar"
                        (click)="OpcionesTable(adm011, 'editar')"
                        data-toggle="modal"
                        data-target="#modal_adm_011"
                        class="icon-pencil7 text-teal-600 puntero"
                      ></i>
                      <i
                        class="icon-trash"
                        title="eliminar"
                        (click)="OpcionesTable(adm011, 'eliminar')"
                        data-toggle="modal"
                        data-target="#modal_adm_011_eliminar"
                        class="icon-trash text-danger-600 puntero"
                      ></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <br />
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- <div *ngIf="!loading" class="row justify-content-center">
        <ul class="pagination pagination-flat align-self-center">
          <li class="page-item puntero">
            <a (click)="paginacion('000')" class="page-link"
              >&larr; &nbsp; Atras</a
            >
          </li>
          <ng-container *ngFor="let pg of pagi; let i = index">
            <li
              [ngClass]="{
                'page-item': true,
                puntero: true,
                active: numeroPag === i + 1
              }"
            >
              <a (click)="paginacion(pg.pag)" class="page-link">{{ pg.pag }}</a>
            </li>
          </ng-container>
          <li class="page-item puntero">
            <a (click)="paginacion('999')" class="page-link"
              >Sig &nbsp; &rarr;</a
            >
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>

<div id="modal_adm_011" class="modal" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content animacionmodal haciadentro">
      <form #forma="ngForm" ngNativeValidate autocomplete="off" class="form">
        <div class="modal-header bg-blue">
          <h6 class="modal-title">
            <i class="icon-stack-text"></i>
            CLASE DE DOCUMENTOS
          </h6>
          <div class="list-icons float-right">
            <a class="puntero" *ngIf="btnGrupo.BtnCance"
              ><i
                class="icon-cancel-circle2 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal(forma, 'cancelar')"
                title="Cancelar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnNuevo">
              <i
                data-toggle="tooltip"
                data-placement="top"
                class="icon-diff-added xxl"
                (click)="OpcionesModal(forma, 'nuevo')"
                title="nuevo"
              ></i>
            </a>
            <button
              *ngIf="btnGrupo.BtnGuard"
              style="padding: 1px;color: white;"
              type="submit"
              (click)="OpcionesModal(forma, 'guardar')"
              class="btn text-warning-600 btn-flat btn-icon btn-rounded"
            >
              <i
                *ngIf="!btnGrupo.BtnLoadi"
                class="icon-floppy-disk xxl"
                data-toggle="tooltip"
                data-placement="top"
              ></i>
            </button>
            <i
              *ngIf="btnGrupo.BtnLoadi"
              class="icon-spinner spinner position-left"
              title="Guardando..."
            >
            </i>
            <a *ngIf="btnGrupo.BtnEdita" class="puntero">
              <i
                class="icon-pencil7 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal(forma, 'editar')"
                title="editar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnElimi"
              ><i
                class="icon-trash xxl"
                data-toggle="tooltip"
                data-placement="top"
                title="Eliminar"
              >
              </i
            ></a>
            <a class="puntero">
              <i
                class="icon-exit xxl"
                (click)="OpcionesModal(forma, 'salir')"
                data-toggle="tooltip"
                data-placement="top"
                data-dismiss="modal"
                title="Salir"
              >
              </i
            ></a>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <ng-container *ngFor="let auxModal of auxmaModal; let i = index">
              <div class="col-xl-12">
                <div class="row text-center">
                  <div class="col-md-6">
                    <label class="form-group">Division</label>
                    <select
                      required
                      onchange="setCustomValidity('')"
                      oninvalid="setCustomValidity('Debe selecciona una division')"
                      [disabled]="disabled.division"
                      [ngModel]="auxModal.tipo_territorio"
                      (change)="cargarDependencia2($event.target.value, forma)"
                      class="form-control selectpicker show-tick"
                      name="tipo_territorio"
                    >
                      <option
                        *ngFor="let gruac of nuevoAuxmaModal.territorio"
                        [value]="gruac.id_territorio"
                      >
                        {{ gruac.descripcion }}</option
                      >
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label class="form-group">Dependencia Division</label>
                    <select
                      [disabled]="disabled.dependencia"
                      [ngModel]="auxModal.dependencia"
                      class="form-control selectpicker show-tick"
                      name="dependencia"
                    >
                      <option
                        *ngFor="let gruac of dependenciaadm011"
                        [value]="gruac.dependencia"
                      >
                        {{ gruac.descripcion }}</option
                      >
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-xl-12" style="padding-top: 20px;">
                <div class="row text-center">
                  <div class="col-md-3">
                    <div class="form-group form-group-float">
                      <label class="form-group-float-label">Codigo</label>
                      <input
                        style="text-align: center;"
                        type="text"
                        class="form-control"
                        [disabled]="disabled.codigo"
                        placeholder="Codigo"
                        [ngModel]="auxModal.codigo"
                        name="codigo"
                        title="{{ auxModal.codigo }}"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group form-group-float">
                      <label class="form-group-float-label">Descripcion</label>
                      <input
                        style="text-align: center;"
                        type="text"
                        class="form-control"
                        [disabled]="disabled.descripci"
                        placeholder="Introducir Descripcion"
                        [ngModel]="auxModal.descripcion"
                        name="descripcion"
                        title="{{ auxModal.descripcion }}"
                        required
                        oninvalid="this.setCustomValidity('Introducir Descripcion')"
                        oninput="setCustomValidity('')"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group form-group-float">
                      <label class="form-group-float-label">Sigla</label>
                      <input
                        style="text-align: center;"
                        type="text"
                        class="form-control"
                        [disabled]="disabled.sigla"
                        placeholder="Introducir Sigla"
                        [ngModel]="auxModal.sigla"
                        name="sigla"
                        title="{{ auxModal.sigla }}"
                        required
                        oninvalid="this.setCustomValidity('Introducir Sigla')"
                        oninput="setCustomValidity('')"
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="custom-control custom-switch">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        [disabled]="disabled.estado"
                        [ngModel]="auxModal.estado"
                        title="auxModal.estado"
                        name="estado"
                        id="auxModalestado{{ i }}"
                      />
                      <label
                        class="custom-control-label"
                        for="auxModalestado{{ i }}"
                        >Estado</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div *ngIf="loadingSub" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modal_adm_011_eliminar" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal5-title">adm011</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h6 class="font-weight-semibold">
          Desea eliminar dato con codigo: {{ id_cod }}
        </h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn bg-primary"
          data-dismiss="modal"
          (click)="eliminarAdm006(id_cod)"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
