<!-- <div class="card haciadentro animaciones superior" *ngIf="start.Conte">
  <div class="card-body pb-0" style="padding-bottom: 0px;">
    <div class="card-header header-elements-inline" style="padding: 0px;">
      <h5 class="card-title font-weight-bold">
        <img
          src="https://trello-attachments.s3.amazonaws.com/5e00f87a7a953c871e9a19f0/37x37/026b03c4f5a191f167b26d1a634519ca/image.png"
          alt=""
        />
        Tipo de comprobantes
      </h5>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <input
          style="
            width: inherit;
            border-radius: 1em;
            border-color: #03a9f4;
            background-color: white;
          "
          class="text-center"
          disabled="true"
          type="text"
          value="CONTABILIDAD"
        />
        <!-- <select
          (change)="cargarDependencia2($event.target.value)"
          class="form-control selectpicker show-tick"
          name="division"
        >
          <option *ngFor="let gruac of selectMod" [value]="gruac.id_modulo">
            {{ gruac.modulo }}</option
          >
        </select> -->
      </div>
    </div>
    <div class="row">
      <div class="col-1 col-sm-1 col-md-3 col-lg-8"></div>
      <div class="col-8 col-sm-9 col-md-6 col-lg-3">
        <div class="form-group form-group-feedback form-group-feedback-right">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar"
            id="buscarGrupoLupa"
            [formControl]="textBuscarCont005"
          />
          <div *ngIf="start.Busca" class="form-control-feedback">
            <i class="icon-spinner2 spinner"></i>
          </div>
          <div *ngIf="!start.Busca" class="form-control-feedback">
            <label for="buscarGrupoLupa">
              <i class="icon-search4 puntero" title="buscar"></i
            ></label>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-2 col-md-3 col-lg-1" style="padding-top: 30px;">
        <div class="form-control-feedback">
          <i
            data-toggle="modal"
            data-target="#modal_cont_005"
            (click)="nuevoCont005()"
            class="icon-diff-added puntero xxl"
            title="agregar"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row p0 m0">
    <div *ngIf="table" class="col-sm-12">
      <span class="form-text text-danger text-center"
        >No existen datos para mostrar</span
      >
    </div>
    <div *ngIf="!table" class="col-sm-12">
      <app-cargacontent *ngIf="start.Loadi"></app-cargacontent>
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
          <thead *ngIf="start.Table" class="text-center">
            <tr class="bg-blue">
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Sigla</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="table-border-double PRL0"
              *ngFor="
                let cont005 of auxma;
                let i = index;
                let impar = odd;
                let par = even
              "
              [ngClass]="{
                tablaCebradoPar: par,
                tablaCebradoImpar: impar
              }"
            >
              <td class="table-content-center text-center">
                {{ cont005.id_tipocomprobante }}
              </td>
              <td class="table-content-center text-center">
                {{ cont005.descripcion }}
              </td>
              <td class="table-content-center text-center">
                {{ cont005.sigla }}
              </td>
              <td class="table-content-center text-center">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [disabled]="true"
                    [checked]="cont005.estado"
                    title="cont005.estado"
                    id="cont005estado{{ i }}"
                  />
                  <label
                    class="custom-control-label"
                    for="cont005estado{{ i }}"
                  ></label>
                </div>
              </td>
              <td class="table-content-center text-center">
                <div class="list-icons">
                  <i
                    class="icon-file-eye"
                    title="visualizar"
                    data-toggle="modal"
                    data-target="#modal_cont_005"
                    (click)="getCont005Moda(cont005, 'visualizar')"
                    class="icon-file-eye text-primary-600 puntero"
                  ></i>
                  <i
                    class="icon-pencil7"
                    title="editar"
                    data-toggle="modal"
                    data-target="#modal_cont_005"
                    (click)="getCont005Moda(cont005, 'editar')"
                    class="icon-pencil7 text-teal-600 puntero"
                  ></i>
                  <!-- data-toggle="modal"
                    data-target="#modal_cont_005"
                  <i
                    class="icon-trash"
                    title="eliminar"
                    (click)="eliminarTable(cont005)"
                    class="icon-trash text-danger-600 puntero"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div class="row justify-content-center">
        <ul class="pagination pagination-flat align-self-center">
          <li class="page-item puntero">
            <a (click)="paginacion('000')" class="page-link"
              >&larr; &nbsp; Atras</a
            >
          </li>
          <ng-container *ngFor="let pg of pagi; let i = index">
            <li
              [ngClass]="{
                'page-item': true,
                puntero: true,
                active: start.NumPa === i + 1
              }"
            >
              <a (click)="paginacion(pg.pag)" class="page-link">{{ pg.pag }}</a>
            </li>
          </ng-container>
          <li class="page-item puntero">
            <a (click)="paginacion('999')" class="page-link"
              >Sig &nbsp; &rarr;</a
            >
          </li>
        </ul>
      </div>
      <br />
    </div>
  </div>
</div> -->

<!-- modal -->
<!-- <div
  class="modal"
  id="modal_cont_005"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        [formGroup]="forma"
        ngNativeValidate
        autocomplete="off"
        class="form"
      >
        <div class="modal-header bg-blue">
          <h6 class="modal-title">Tipo Comprobante</h6>
          <div class="list-icons float-right">
            <a class="puntero" *ngIf="btnGrupo.BtnCance"
              ><i
                class="icon-undo2 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal('cancelar', true)"
                title="Cancelar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnNuevo">
              <i
                data-toggle="tooltip"
                data-placement="top"
                class="icon-diff-added xxl"
                (click)="OpcionesModal('nuevo', true)"
                title="nuevo"
              ></i>
            </a>
            <button
              *ngIf="btnGrupo.BtnGuard"
              style="padding: 1px; color: white;"
              type="submit"
              (click)="OpcionesModal('guardar', true)"
              class="btn text-warning-600 btn-flat btn-icon btn-rounded"
            >
              <i
                *ngIf="!btnGrupo.BtnLoadi"
                class="icon-floppy-disk xxl"
                data-toggle="tooltip"
                data-placement="top"
              ></i>
            </button>
            <i
              *ngIf="btnGrupo.BtnLoadi"
              class="icon-spinner spinner position-left"
              title="Guardando..."
            >
            </i>
            <a *ngIf="btnGrupo.BtnEdita" class="puntero">
              <i
                class="icon-pencil7 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal('editar', true)"
                title="editar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnElimi"
              ><i
                class="icon-trash xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal('eliminar', true)"
                title="Eliminar"
              >
              </i
            ></a>
            <a class="puntero">
              <i
                class="icon-exit xxl"
                (click)="OpcionesModal('salir')"
                [attr.data-dismiss]="oculto"
                title="Salir"
              >
              </i
            ></a>
          </div>
        </div>
        <app-cargacontent *ngIf="!start.ConMo"></app-cargacontent>
        <ng-container *ngIf="start.ConMo">
          <div class="modal-body">
            <div class="row m0 text">
              <div class="col-sm-6 col-8 pad-row-title" style="margin: auto;">
                <input
                  style="
                    width: inherit;
                    border-radius: 1em;
                    border-color: #03a9f4;
                    background-color: white;
                  "
                  class="text-center"
                  disabled="true"
                  type="text"
                  value="CONTABILIDAD"
                />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="custom-control custom-switch">
                <input
                  type="checkbox"
                  required="false"
                  class="custom-control-input"
                  value="true"
                  formControlName="estado"
                  id="estadoCta"
                />
                <label class="custom-control-label" for="estadoCta"
                  >Estado</label
                >
              </div>
            </div>
            <div class="row text-center">
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class="form-group-float">
                    <label class="form-group-float-label text-label"
                      >Codigo</label
                    >
                    <input
                      type="text"
                      class="form-control text-center"
                      placeholder="Codigo"
                      formControlName="id_tipocomprobante"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group-float">
                    <label class="form-group-float-label text-label"
                      >Descripcion</label
                    >
                    <input
                      type="text"
                      class="form-control text-center"
                      placeholder="Descripcion"
                      formControlName="descripcion"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group-float">
                    <label class="form-group-float-label text-label"
                      >Sigla</label
                    >
                    <input
                      type="text"
                      class="form-control text-center"
                      placeholder="Sigla"
                      formControlName="sigla"
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="row text-center" style="padding-bottom: 5px;">
                <div class="col-md-6">
                  <label class="form-group" style="padding-top: 5px;"
                    >Tipo Transaccion</label
                  >
                  <select
                    formControlName="tipo_transaccion"
                    class="form-control selectpicker show-tick"
                    name="division"
                    required
                  >
                    <option
                      *ngFor="let gruac of selecTipTrans"
                      [value]="gruac.id_tipo_transaccion"
                    >
                      {{ gruac.descripcion }}</option
                    >
                  </select>
                </div>
                <div class="col-md-6">
                  <label class="form-group" style="padding-top: 5px;"
                    >Formato Impresion</label
                  >
                  <select
                    formControlName="formato_impresion"
                    class="form-control selectpicker show-tick"
                    name="formato_impresion"
                    required
                  >
                    <option
                      *ngFor="let gruac of selecFormImpr"
                      [value]="gruac.id_formato"
                    >
                      {{ gruac.descripcion }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
      <!-- <p>
          {{ this.forma.get("codigo").status }}
        </p> -->
<!-- <pre>fue modificado? {{ forma.dirty }}</pre>
      <pre>es valido ? {{ forma.valid }}</pre>
      <pre>{{ forma.value | json }}</pre>
    </div>
  </div>
</div> -->
