<div class="row haciadentro animaciones superior">
  <div class="col-xl-12">
    <!-- Table with togglable columns -->
    <div class="card pb0">
      <div class="card-header header-elements-inline">
        <h5 class="card-title font-weight-bold">
          <img
            src="https://trello-attachments.s3.amazonaws.com/5e00f87a7a953c871e9a19f0/37x37/026b03c4f5a191f167b26d1a634519ca/image.png"
            alt=""
          />
          Mantenimientos de Usuarios
        </h5>
      </div>
      <div class="card-body pb0">
        <div class="row">
          <div class="col-1 col-sm-1 col-md-3 col-lg-7"></div>
          <div class="col-8 col-sm-9 col-md-6 col-lg-3">
            <div
              class="form-group form-group-feedback form-group-feedback-right"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                id="buscarGrupoLupa"
                #texto
                [formControl]="textBuscarAdm006"
              />
              <div *ngIf="buscar" class="form-control-feedback">
                <i class="icon-spinner2 spinner"></i>
              </div>
              <div *ngIf="!buscar" class="form-control-feedback">
                <label for="buscarGrupoLupa">
                  <i class="icon-search4 puntero" title="buscar"></i
                ></label>
              </div>
            </div>
          </div>
          <div class="col-3 col-sm-2 col-md-3 col-lg-2">
            <div class="form-control-feedback">
              <i
                data-toggle="modal"
                data-target="#modal_adm_006"
                class="icon-diff-added puntero xxl"
                (click)="nuevoAdm006()"
                title="agregar"
              ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="table-responsive text-center">
            <table class="table table-sm table-hover table-bordered">
              <thead>
                <tr class="bg-blue">
                  <th data-hide="phone">Login</th>
                  <th data-toggle="true" class="table-content-center">
                    _______Descripcion_______
                  </th>
                  <th data-hide="phone,tablet">
                    Grupo_de_acceso
                    <div>Grupo_de_perfil</div>
                  </th>
                  <th data-hide="phone,tablet">Tipo_de_usuario</th>
                  <th data-hide="phone,tablet">Relacion_persona</th>
                  <th class="text-center" style="width: 30px;">
                    _Opciones_
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="
                    let adm006 of auxma;
                    let i = index;
                    let impar = odd;
                    let par = even
                  "
                  ><tr
                    class="table-border-double PRL0"
                    [ngClass]="{
                      tablaCebradoPar: par,
                      tablaCebradoImpar: impar,
                      puntero: false,
                      PRL0: true
                    }"
                  >
                    <td>
                      {{ adm006.login }}
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <div class="mr-3">
                          <img
                            src="{{ adm006.foto | imagenpipe }}"
                            class="img-fluid rounded-circle"
                            width="30"
                            height="30"
                            alt=""
                          />
                        </div>
                        <div>
                          {{ adm006.descripcion }}
                          <div class="text-muted font-size-sm">
                            Activo
                            <i
                              *ngIf="adm006.activo === 1"
                              class="icon-primitive-dot verde"
                            ></i>
                            <i
                              *ngIf="adm006.activo === 0"
                              class="icon-primitive-dot gris"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="table-content-center">
                      {{ adm006.grupo_acceso }}
                      <div>
                        {{ adm006.grupo_perfil }}
                      </div>
                    </td>
                    <td class="table-content-center">
                      {{ adm006.tipo_usuario }}
                    </td>
                    <td>
                      Codigo: {{ adm006.codigo_persona }}
                      <div>
                        {{ adm006.nombre_persona }}
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="list-icons">
                        <i
                          data-toggle="modal"
                          data-target="#modal_adm_006"
                          (click)="OpcionesTable(adm006, 'visualizar')"
                          class="icon-file-eye text-primary-600 puntero"
                          title="visualizar"
                        ></i>
                        <i
                          data-toggle="modal"
                          data-target="#modal_adm_006"
                          (click)="OpcionesTable(adm006, 'editar')"
                          class="icon-pencil7 text-teal-600 puntero"
                          title="Editar"
                        ></i>
                        <i
                          class="icon-trash text-danger-600 puntero"
                          data-toggle="modal"
                          (click)="OpcionesTable(adm006, 'eliminar')"
                          data-target="#modal_adm_006_eliminar"
                          title="Eliminar"
                        ></i>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <br />
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading" class="row justify-content-center">
        <ul class="pagination pagination-flat align-self-center">
          <li class="page-item puntero">
            <a (click)="paginacion('000')" class="page-link"
              >&larr; &nbsp; Atras</a
            >
          </li>
          <ng-container *ngFor="let pg of pagi; let i = index">
            <li
              [ngClass]="{
                'page-item': true,
                puntero: true,
                active: numeroPag === i + 1
              }"
            >
              <a (click)="paginacion(pg.pag)" class="page-link">{{ pg.pag }}</a>
            </li>
          </ng-container>
          <li class="page-item puntero">
            <a (click)="paginacion('999')" class="page-link"
              >Sig &nbsp; &rarr;</a
            >
          </li>
        </ul>
      </div>
      <br />
    </div>
  </div>
</div>

<!-- modal -->
<div id="modal_adm_006" class="modal" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content animacionmodal haciadentro">
      <form #forma="ngForm" ngNativeValidate autocomplete="off" class="form">
        <div class="modal-header bg-blue">
          <h6 class="modal-title">ADM006</h6>
          <div class="list-icons float-right">
            <a class="puntero" *ngIf="btnGrupo.BtnCance"
              ><i
                class="icon-cancel-circle2 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal(forma, 'cancelar')"
                title="Cancelar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnNuevo">
              <i
                data-toggle="tooltip"
                data-placement="top"
                class="icon-diff-added xxl"
                (click)="OpcionesModal(forma, 'nuevo')"
                title="nuevo"
              ></i>
            </a>
            <button
              *ngIf="btnGrupo.BtnGuard"
              style="padding: 1px;color: white;"
              type="submit"
              (click)="OpcionesModal(forma, 'guardar')"
              class="btn text-warning-600 btn-flat btn-icon btn-rounded"
            >
              <i
                *ngIf="!btnGrupo.BtnLoadi"
                class="icon-floppy-disk xxl"
                data-toggle="tooltip"
                data-placement="top"
              ></i>
            </button>
            <i
              *ngIf="btnGrupo.BtnLoadi"
              class="icon-spinner spinner position-left"
              title="Guardando..."
            >
            </i>
            <a *ngIf="btnGrupo.BtnEdita" class="puntero">
              <i
                class="icon-pencil7 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal(forma, 'editar')"
                title="editar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnElimi"
              ><i
                class="icon-trash xxl"
                data-toggle="tooltip"
                data-placement="top"
                title="Eliminar"
              >
              </i
            ></a>
            <a class="puntero">
              <i
                class="icon-exit xxl"
                (click)="OpcionesModal(forma, 'salir')"
                data-toggle="tooltip"
                data-placement="top"
                data-dismiss="modal"
                title="Salir"
              >
              </i
            ></a>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <ng-container *ngFor="let auxModal of auxmaModal; let i = index">
              <div class="col-xl-12">
                <div class="media flex-column flex-sm-row mt-0 mb-3">
                  <div
                    class="mr-sm-3 mb-2 mb-sm-0 text-center"
                    style="margin-top: 20px;"
                  >
                    <div class="card-img-actions">
                      <input
                        type="file"
                        class="d-none"
                        [disabled]="disabled.foto"
                        (change)="onPhotoSelected($event)"
                        #photoInput
                      />
                      <img
                        *ngIf="photoSelected === undefined; else phselect"
                        src="{{ auxModal.foto | imagenpipe }}"
                        class="img-fluid img-preview rounded puntero"
                        alt="seleccione una imagen p1"
                        (click)="photoInput.click()"
                      />
                      <ng-template #phselect>
                        <img
                          [src]="photoSelected || 'assets/subir_img.png'"
                          class="img-fluid img-preview rounded puntero"
                          alt="seleccione una imagen p2"
                          (click)="photoInput.click()"
                        />
                      </ng-template>
                    </div>
                    <label>Estado</label>
                    <div>
                      <select
                        required
                        [disabled]="disabled.TipoUsuar"
                        [ngModel]="auxModal.id_estado"
                        class="form-control selectpicker show-tick"
                        name="id_estado"
                      >
                        <option
                          *ngFor="let gruac of auxModal.estados"
                          [value]="gruac.id_estado"
                        >
                          {{ gruac.tipo_estado }}</option
                        >
                      </select>
                    </div>
                  </div>
                  <div class="media-body  text-center">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-group-float">
                          <label class="form-group-float-label">Login</label>
                          <input
                            style="text-align: center;"
                            type="text"
                            class="form-control"
                            [disabled]="disabled.login"
                            placeholder="Introducir Login"
                            [ngModel]="auxModal.login"
                            title="{{ auxModal.login }}"
                            name="login"
                            required
                            oninvalid="this.setCustomValidity('Introducir Login')"
                            oninput="setCustomValidity('')"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-group-float">
                          <label class="form-group-float-label"
                            >Descripcion</label
                          >
                          <input
                            style="text-align: center;"
                            type="text text-align-center;"
                            class="form-control"
                            [disabled]="disabled.descripci"
                            placeholder="Introducir descripcion"
                            [ngModel]="auxModal.descripcion"
                            name="descripcion"
                            title="{{ auxModal.descripcion }}"
                            required
                            oninvalid="this.setCustomValidity('Introducir Descripcion')"
                            oninput="setCustomValidity('')"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="form-group">Grupo Acceso</label>
                        <select
                          required
                          [disabled]="disabled.GrupoAcce"
                          [ngModel]="auxModal.id_grupo_acceso"
                          class="form-control selectpicker show-tick"
                          name="id_grupo_acceso"
                        >
                          <option
                            *ngFor="let gruac of auxModal.grupos_acceso"
                            [value]="gruac.id_grupos_acceso"
                          >
                            {{ gruac.descripcion }}</option
                          >
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label class="form-group">Grupo Perfil</label>
                        <select
                          required
                          [disabled]="disabled.GrupoPerf"
                          [ngModel]="auxModal.id_grupo_perfil"
                          class="form-control selectpicker show-tick"
                          name="id_grupo_perfil"
                        >
                          <option
                            *ngFor="let gruac of auxModal.grupos_perfil"
                            [value]="gruac.id_grupos_perfil"
                          >
                            {{ gruac.descripcion }}</option
                          >
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label class="form-group">Tipo de Usuario</label>
                        <select
                          required
                          [disabled]="disabled.TipoUsuar"
                          [ngModel]="auxModal.id_tipo_usuario"
                          class="form-control selectpicker show-tick"
                          name="id_tipo_usuario"
                        >
                          <option
                            *ngFor="let gruac of auxModal.tipos_usuario"
                            [value]="gruac.id_grupos_perfil"
                          >
                            {{ gruac.descripcion }}</option
                          >
                        </select>
                      </div>
                      <div class="col-md-6 ">
                        <label class="form-group"
                          >Codigo relacion persona</label
                        >
                        <select
                          required
                          [disabled]="disabled.TipoCodRe"
                          [ngModel]="auxModal.codigo_persona"
                          class="form-control selectpicker show-tick"
                          name="codigo_persona"
                        >
                          <option
                            *ngFor="let gruac of auxModal.personas"
                            [value]="gruac.id_persona"
                          >
                            {{ gruac.id_persona }}</option
                          >
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="separadorh"></div>
              </div>
              <div class="col-xl-12">
                <div class="row text-center">
                  <div class="col-md-4">
                    <span><b>Fecha de registro</b></span>
                    <div style="background-color: #f5f5f5;">
                      <p>{{ auxModal.fecha_registro | datos }}</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <span><b>Fecha de ultimo ingreso</b></span>
                    <div style="background-color: #f5f5f5;">
                      <p>{{ auxModal.fecha_registro | datos }}</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <span><b>Fecha de ultimo reset</b></span>
                    <div style="background-color: #f5f5f5;">
                      <p>{{ auxModal.fecha_registro | datos }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div *ngIf="loadingSub" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modal_adm_006_eliminar" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adm006</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h6 class="font-weight-semibold">Desea eliminar {{ eliminAdm_006 }}</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn bg-primary"
          data-dismiss="modal"
          (click)="eliminarAdm006(eliminAdm_006)"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
