<!-- Header with logos -->
<div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
  <div class="navbar-brand navbar-brand-md">
    <a href="index.html" class="d-inline-block">
      <img src="assets/global_assets/images/logo_light.png" alt="" />
    </a>
  </div>

  <div class="navbar-brand navbar-brand-xs">
    <a href="index.html" class="d-inline-block">
      <img src="assets/global_assets/images/logo_icon_light.png" alt="" />
    </a>
  </div>
</div>
<!-- /header with logos -->
