<!-- Page content -->

<!-- Main content -->
<div class="content-wrapper">
    <!-- Page header -->
    <div class="card-body" style="background-color: white;padding: 0.5rem;">
      <div class="card-body" style="padding: 0.5rem;">
        <div class="d-flex">
          <h6>
            <i class="icon-home mr-2"></i>
            <span>Fecha del dia </span>
          </h6>
          <a href="#" class="header-elements-toggle text-default d-md-none"
            ><i class="icon-more"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- /page header -->
  
    <!-- Content area -->
    <div class="content">
      <!-- Dashboard content -->
      <div class="card-body" style="background-color: white;">
          <div class="row d-flex justify-content-between">
              <div class="col-lg-3">
                  <legend class="text-uppercase font-size-sm font-weight-bold">Registro de Grupos
                  </legend>
              </div>
              <!-- <app-buscar-dialogo [tipo-busqueda]="tipoBusqueda"></app-buscar-dialogo> -->
          </div>
          
          <div class="row">
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-header">
                          <h6 class="card-title"><b> Fecha Actual</b></h6>
                      </div>

                      <div class="card-body">
                          <div class="text-left">
                              <div class="col-md-12">
                                  <label class="col-form-label col-lg-6">Fecha</label>
                                  <div class="col-lg-6">
                                    <input type="text"  class="form-control">
                                  </div>
                              </div>
                         </div>
                        <div class="row" style="padding-top: 15px;">
                         
                              <div class="text-left">
                              
                                <div class="col-md-12 col-xs-12">
                                  <label class="col-lg-12">T/C Oficial</label>
                                  <div class="col-lg-12">
                                    <input type="number"  class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="text-left">
                                  <div class="col-md-12 col-xs-12">
                                    <label class="col-lg-12">T/C Compras</label>
                                    <div class="col-lg-12">
                                      <input type="number"  class="form-control">
                                    </div>
                                  </div>
                              </div>
                              <div class="text-left">
                              <div class="col-md-12 col-xs-12">
                                  <label class="col-lg-12">T/C Ventas</label>
                                  <div class="col-lg-12">
                                    <input type="number"  class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="text-left">
                                  <div class="col-md-12 col-xs-12">
                                    <label class="col-lg-12">T/C UFV</label>
                                    <div class="col-lg-12">
                                      <input type="number"  class="form-control">
                                    </div>
                                  </div>
                              </div>
                        </div> 
                      </div>
                  </div>
              </div>


              <div class="col-md-6">
                  <div class="card">
                      <div class="card-header">
                          <h6 class="card-title"><b> Ingreso de Fecha</b></h6>
                      </div>

                      <div class="card-body">
                        <div class="row">

                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Basic date range picker:</label>
                            <div class="input-group">
                              <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                              </span>
                              <input type="text" class="form-control daterange-basic" placeholder="Fecha" value=""> 
                            </div>
                          </div>
                        </div>

                        <div class="mb-4">
                            <h6 class="font-weight-semibold">Basic options</h6>
                            <p>The basic setup requires targetting an input element and invoking the picker.</p>
                            <div class="input-group">
                              <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar5"></i></span>
                              </span>
                              <input type="text" class="form-control pickadate" placeholder="Try me&hellip;">
                            </div>
                          </div>
          
                          

                         <div class="col-md-6">
                          <div class="form-group">
                              <div class="input-group">
                                  <span class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-calendar5"></i></span>
                                  </span>
                                  <input type="text" class="form-control pickadate" placeholder="Try me&hellip;">
                              </div>
              
                              <div class="form-check form-check-switchery">
                                  <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input-switchery-primary" checked data-fouc>
                                    Switch in <span class="font-weight-semibold">primary</span> context
                                  </label>
                              </div>
                              <div class="form-check form-check-switchery">
                                      <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input-switchery-primary" 
                                        checked="" data-fouc="" data-switchery="true"style="display: none;">
                                        <span class="switchery switchery-default" 
                                        style="background-color: rgb(33, 150, 243); border-color: rgb(33, 150, 243); box-shadow: rgb(33, 150, 243) 0px 0px 0px 10px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;">
                                        <small style="left: 18px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s; background-color: rgb(255, 255, 255);">
                                        </small></span>
                                        Switch in <span class="font-weight-semibold">primary</span> context
                                      </label>
                              </div>
                          </div>
                        </div>

                        <div class="row" style="padding-top: 15px;">
                         
                              <div class="text-left">
                                <div class="col-md-12 col-xs-12">
                                  <label class="col-lg-12">T/C Oficial</label>
                                  <div class="col-lg-12">
                                    <input type="number" readonly class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="text-left">
                                  <div class="col-md-12 col-xs-12">
                                    <label class="col-lg-12">T/C Compras</label>
                                    <div class="col-lg-12">
                                      <input type="number" readonly class="form-control">
                                    </div>
                                  </div>
                              </div>
                              <div class="text-left">
                              <div class="col-md-12 col-xs-12">
                                  <label class="col-lg-12">T/C Ventas</label>
                                  <div class="col-lg-12">
                                    <input type="number" readonly class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="text-left">
                                  <div class="col-md-12 col-xs-12">
                                    <label class="col-lg-12">T/C UFV</label>
                                    <div class="col-lg-12">
                                      <input type="number" readonly class="form-control">
                                    </div>
                                  </div>
                              </div>
                        </div> 
                      </div>
                  </div>
            </div>
      </div>

   
        <div class="row">
            
        <div class="col-xl-12">
          <!-- Latest posts -->
          <div class="card">
            <div class="card-header header-elements-inline">
              <h6 class="card-title">Latest posts</h6>
              <div class="header-elements">
                <div class="list-icons">
                  <a class="list-icons-item" data-action="collapse"></a>
                  <a class="list-icons-item" data-action="reload"></a>
                  <a class="list-icons-item" data-action="remove"></a>
                </div>
              </div>
            </div>
  
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-xl-6">
                  <div class="media flex-column flex-sm-row mt-0 mb-3">
                    <div class="mr-sm-3 mb-2 mb-sm-0">
                      <div class="card-img-actions">
                        <a href="#">
                          <img
                            src="assets/global_assets/images/placeholders/placeholder.jpg"
                            class="img-fluid img-preview rounded"
                            alt=""
                          />
                          <span class="card-img-actions-overlay card-img"
                            ><i class="icon-play3 icon-2x"></i
                          ></span>
                        </a>
                      </div>
                    </div>
  
                    <div class="media-body">
                      <h6 class="media-title">
                        <a href="#">Up unpacked friendly</a>
                      </h6>
                      <ul class="list-inline list-inline-dotted text-muted mb-2">
                        <li class="list-inline-item">
                          <i class="icon-book-play mr-2"></i> Video tutorials
                        </li>
                      </ul>
                      The him father parish looked has sooner. Attachment
                      frequently terminated son hello...
                    </div>
                  </div>
                </div>
  
                <div class="col-xl-6">
                  <div class="media flex-column flex-sm-row mt-0 mb-3">
                    <div class="mr-sm-3 mb-2 mb-sm-0">
                      <div class="card-img-actions">
                        <a href="#">
                          <img
                            src="assets/global_assets/images/placeholders/placeholder.jpg"
                            class="img-fluid img-preview rounded"
                            alt=""
                          />
                          <span class="card-img-actions-overlay card-img"
                            ><i class="icon-play3 icon-2x"></i
                          ></span>
                        </a>
                      </div>
                    </div>
  
                    <div class="media-body">
                      <h6 class="media-title">
                        <a href="#">Case read they must</a>
                      </h6>
                      <ul class="list-inline list-inline-dotted text-muted mb-2">
                        <li class="list-inline-item">
                          <i class="icon-book-play mr-2"></i> Video tutorials
                        </li>
                      </ul>
                      On it differed repeated wandered required in. Then girl neat
                      why yet knew rose spot...
                    </div>
                  </div>
  
                  <div class="media flex-column flex-sm-row mt-0 mb-3">
                    <div class="mr-sm-3 mb-2 mb-sm-0">
                      <div class="card-img-actions">
                        <a href="#">
                          <img
                            src="assets/global_assets/images/placeholders/placeholder.jpg"
                            class="img-fluid img-preview rounded"
                            alt=""
                          />
                          <span class="card-img-actions-overlay card-img"
                            ><i class="icon-play3 icon-2x"></i
                          ></span>
                        </a>
                      </div>
                    </div>
  
                    <div class="media-body">
                      <h6 class="media-title">
                        <a href="#">Too carriage attended</a>
                      </h6>
                      <ul class="list-inline list-inline-dotted text-muted mb-2">
                        <li class="list-inline-item">
                          <i class="icon-book-play mr-2"></i> FAQ section
                        </li>
                      </ul>
                      Marianne or husbands if at stronger ye. Considered is as
                      middletons uncommonly...
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /latest posts -->
        </div>
      </div>
      <!-- /dashboard content -->
  
      <!-- Dashboard content -->
      <div class="row">
        <div class="col-xl-8">
          <!-- Latest posts -->
          <div class="card">
            <div class="card-header header-elements-inline">
              <h6 class="card-title">Latest posts</h6>
              <div class="header-elements">
                <div class="list-icons">
                  <a class="list-icons-item" data-action="collapse"></a>
                  <a class="list-icons-item" data-action="reload"></a>
                  <a class="list-icons-item" data-action="remove"></a>
                </div>
              </div>
            </div>
  
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-xl-6">
                  <div class="media flex-column flex-sm-row mt-0 mb-3">
                    <div class="mr-sm-3 mb-2 mb-sm-0">
                      <div class="card-img-actions">
                        <a href="#">
                          <img
                            src="assets/global_assets/images/placeholders/placeholder.jpg"
                            class="img-fluid img-preview rounded"
                            alt=""
                          />
                          <span class="card-img-actions-overlay card-img"
                            ><i class="icon-play3 icon-2x"></i
                          ></span>
                        </a>
                      </div>
                    </div>
  
                    <div class="media-body">
                      <h6 class="media-title">
                        <a href="#">Up unpacked friendly</a>
                      </h6>
                      <ul class="list-inline list-inline-dotted text-muted mb-2">
                        <li class="list-inline-item">
                          <i class="icon-book-play mr-2"></i> Video tutorials
                        </li>
                      </ul>
                      The him father parish looked has sooner. Attachment
                      frequently terminated son hello...
                    </div>
                  </div>
  
                  <div class="media flex-column flex-sm-row mt-0 mb-3">
                    <div class="mr-sm-3 mb-2 mb-sm-0">
                      <div class="card-img-actions">
                        <a href="#">
                          <img
                            src="assets/global_assets/images/placeholders/placeholder.jpg"
                            class="img-fluid img-preview rounded"
                            alt=""
                          />
                          <span class="card-img-actions-overlay card-img"
                            ><i class="icon-play3 icon-2x"></i
                          ></span>
                        </a>
                      </div>
                    </div>
  
                    <div class="media-body">
                      <h6 class="media-title">
                        <a href="#">It allowance prevailed</a>
                      </h6>
                      <ul class="list-inline list-inline-dotted text-muted mb-2">
                        <li class="list-inline-item">
                          <i class="icon-book-play mr-2"></i> Video tutorials
                        </li>
                      </ul>
                      Alteration literature to or an sympathize mr imprudence. Of
                      is ferrars subject enjoyed...
                    </div>
                  </div>
                </div>
  
                <div class="col-xl-6">
                  <div class="media flex-column flex-sm-row mt-0 mb-3">
                    <div class="mr-sm-3 mb-2 mb-sm-0">
                      <div class="card-img-actions">
                        <a href="#">
                          <img
                            src="assets/global_assets/images/placeholders/placeholder.jpg"
                            class="img-fluid img-preview rounded"
                            alt=""
                          />
                          <span class="card-img-actions-overlay card-img"
                            ><i class="icon-play3 icon-2x"></i
                          ></span>
                        </a>
                      </div>
                    </div>
  
                    <div class="media-body">
                      <h6 class="media-title">
                        <a href="#">Case read they must</a>
                      </h6>
                      <ul class="list-inline list-inline-dotted text-muted mb-2">
                        <li class="list-inline-item">
                          <i class="icon-book-play mr-2"></i> Video tutorials
                        </li>
                      </ul>
                      On it differed repeated wandered required in. Then girl neat
                      why yet knew rose spot...
                    </div>
                  </div>
  
                  <div class="media flex-column flex-sm-row mt-0 mb-3">
                    <div class="mr-sm-3 mb-2 mb-sm-0">
                      <div class="card-img-actions">
                        <a href="#">
                          <img
                            src="assets/global_assets/images/placeholders/placeholder.jpg"
                            class="img-fluid img-preview rounded"
                            alt=""
                          />
                          <span class="card-img-actions-overlay card-img"
                            ><i class="icon-play3 icon-2x"></i
                          ></span>
                        </a>
                      </div>
                    </div>
  
                    <div class="media-body">
                      <h6 class="media-title">
                        <a href="#">Too carriage attended</a>
                      </h6>
                      <ul class="list-inline list-inline-dotted text-muted mb-2">
                        <li class="list-inline-item">
                          <i class="icon-book-play mr-2"></i> FAQ section
                        </li>
                      </ul>
                      Marianne or husbands if at stronger ye. Considered is as
                      middletons uncommonly...
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /latest posts -->
        </div>
      </div>
      <!-- /dashboard content -->
    </div>
    <!-- /content area -->
  
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="text-center d-lg-none w-100">
        <button
          type="button"
          class="navbar-toggler dropdown-toggle"
          data-toggle="collapse"
          data-target="#navbar-footer"
        >
          <i class="icon-unfold mr-2"></i>
          Footer
        </button>
      </div>
  
      <div class="navbar-collapse collapse" id="navbar-footer">
        <span class="navbar-text">
          &copy; 2015 - 2018. <a href="#">Limitless Web App Kit</a> by
          <a href="http://themeforest.net/user/Kopyov" target="_blank"
            >Eugene Kopyov</a
          >
        </span>
  
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a
              href="https://kopyov.ticksy.com/"
              class="navbar-nav-link"
              target="_blank"
              ><i class="icon-lifebuoy mr-2"></i> Support</a
            >
          </li>
          <li class="nav-item">
            <a
              href="http://demo.interface.club/limitless/docs/"
              class="navbar-nav-link"
              target="_blank"
              ><i class="icon-file-text2 mr-2"></i> Docs</a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov"
              class="navbar-nav-link font-weight-semibold"
              ><span class="text-pink-400"
                ><i class="icon-cart2 mr-2"></i> Purchase</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /main content -->
  