<div class="content-wrapper">
    <!-- Page header -->
    <!-- Content area -->
    <div class="content">
        <!-- contenido posts -->
        <div class="card pb0">
            <div class="row card-header header-elements-inline">  
                <div class="col-md-12 col-12">
                    <h2 class="card-title font-weight-bold xxl-mobileH2 text-center">REGISTRO DE GESTIONES
                        <a class="list-icons-item text-primary-600 float-right" (click)="AgregarGestion()"
                        [routerLink]="nada()" routerLinkActive="router-link-active"
                        data-toggle="modal" data-target="#modal_gestion">
                        <i class="icon-diff-added xxl-title" data-toggle="tooltip" data-placement="top" title="Ver Gestion"> </i>
                        </a>
                    </h2>
                </div>
            </div>
            <div class="card-body pb0">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <h3 class="text-left">
                            <i class="icon-calendar22 xxl-title float-left plIcon"></i>
                            <span class="font-weight-semibold"> 
                                Gestion
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 d-none d-sm-none d-md-block" >
                    </div>
                    <div class="col-md-10">
                        <div class="table-responsive text-center scroll-Table-Gestion">
                            <table class="table table-sm table-hover table-bordered">
                                <thead class="bg-blue">
                                    <th scope="col">Gestion</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                </thead>
                                <tbody>
                                    <tr class="table-border-double PRL0" 
                                    *ngFor="let gestion of ListaGestiones;let impar = odd;let par = even;" 
                                    [ngClass]="{ tablaCebradoPar : par , tablaCebradoImpar : impar}">
                                        <td class="puntero PRL0" (click) = "VerPeriodos(gestion)">{{gestion.adgtideg}}</td>
                                        <td class="puntero PRL0" (click) = "VerPeriodos(gestion)">{{gestion.adgtdesc}}</td>
                                        <td class="puntero PRL0" (click) = "VerPeriodos(gestion)">{{gestion.adgtesta | estado}}</td>
                                        <td class="puntero PRL0"> 
                                            <div class="list-icons"> 
                                                <a class="list-icons-item text-primary-600" (click)="VerGestion(gestion)"
                                                [routerLink]="nada()" routerLinkActive="router-link-active"
                                                data-toggle="modal" data-target="#modal_gestion">
                                                <i class="icon-file-eye xl " data-toggle="tooltip" data-placement="top" title="Ver Gestion"> </i>
                                                </a>
                                                <a class="list-icons-item text-teal-600"  (click)="EditarGestion(gestion)"
                                                [routerLink]="nada()" routerLinkActive="router-link-active" 
                                                data-toggle="modal" data-target="#modal_gestion" >
                                                    <i class="icon-pencil7 xl" data-toggle="tooltip" data-placement="top" title="Editar Gestion"> </i>
                                                </a>
                                                <a class="list-icons-item text-danger-600" (click)="EliminarGestion(gestion)"
                                                [routerLink]="nada()" routerLinkActive="router-link-active">
                                                    <i class="icon-trash xl " data-toggle="tooltip" data-placement="top" title="Eliminar Gestion"> </i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="cargando == true" class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none d-sm-none d-md-block"></div>
                </div>

                <!-- TODO:  segunda tabla -->
                <div class="row">
                    <div class="col-md-12 col-12">
                        <h3 class="text-left">
                            <i class="icon-calendar22 xxl-title float-left plIcon"></i>
                            <span class="font-weight-semibold">
                                Periodos de Gestion
                            </span>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 d-none d-sm-none d-md-block" >
                    </div>
                    <div class="col-md-10">
                        <div class="table-responsive text-center">
                            <table class="table table-sm table-hover table-bordered">
                                <thead class="bg-blue">
                                    <th scope="col">Periodo</th>
                                    <th scope="col">Mes</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Gestion</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>
                                </thead>
                                <tbody>
                                    <tr class="table-border-double" 
                                    *ngFor="let periodo of ListaPeriodos;let impar = odd;let par = even;" 
                                    [ngClass]="{ tablaCebradoPar:par , tablaCebradoImpar:impar}">
                                        <td class="puntero">{{periodo.adpridep | formatonumeroperiodo }}</td>
                                        <td class="puntero">{{periodo.adprmesp | nombremes}}</td>
                                        <td class="puntero">{{periodo.adprdesc}}</td>
                                        <td class="puntero">{{periodo.adprideg}}</td>
                                        <td class="puntero">{{periodo.adpresta| estadoperiodo}}</td>
                                        <td class="puntero PRL0"> 
                                            <div class="list-icons"> 
                                                <a class="list-icons-item text-primary-600" (click)="VerPeriodo(periodo)"
                                                [routerLink]="nada()" routerLinkActive="router-link-active"
                                                data-toggle="modal" data-target="#modal_periodo_gestion">
                                                <i class="icon-file-eye xl " data-toggle="tooltip" data-placement="top" title="Ver Periodo"> </i>
                                                </a>
                                                <a class="list-icons-item text-teal-600"  (click)="EditarPeriodo(periodo)"
                                                [routerLink]="nada()" routerLinkActive="router-link-active"
                                                data-toggle="modal" data-target="#modal_periodo_gestion">
                                                    <i class="icon-pencil7 xl" data-toggle="tooltip" data-placement="top" title="Editar Periodo"> </i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>                                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-1 d-none d-sm-none d-md-block">
                    </div>
                </div>
            </div>
        </div>
          <!-- /contenido posts -->
        </div>
        <!-- modal -->
        <div *ngIf="gestionModelo!= undefined" id="modal_gestion" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-blue">
                        <h6 class="card-title"><i class="icon-calendar22 xl-Icon"></i> 
                            GESTION
                        </h6>
                        <div class="modal-title">
                            <div class="list-icons float-right">
                                 <a class="list-icons-item" *ngIf="nuevo" (click)="GuardarGestion()"
                                [routerLink]="nada()" routerLinkActive="router-link-active" >
                                    <i class="icon-floppy-disk xxl-modal" data-toggle="tooltip" data-placement="top" title="Guardar Gestion"> </i>
                                </a>
                                <a class="list-icons-item" *ngIf="!editGestion === !nuevo" (click)="ActualizarGestion()"
                                [routerLink]="nada()" routerLinkActive="router-link-active" >
                                    <i class="icon-floppy-disk xxl-modal" data-toggle="tooltip" data-placement="top" title="Actualizar Gestion"> </i>
                                </a>
                               <a class="list-icons-item" (click)="Nuevo()"
                                [routerLink]="nada()" routerLinkActive="router-link-active">
                                    <i class="icon-file-plus xxl-modal" data-toggle="tooltip" data-placement="top" title="Nuevo"> </i>
                                </a>
                                <a class="list-icons-item" *ngIf="editGestion" (click)="editar()"
                                [routerLink]="nada()" routerLinkActive="router-link-active">
                                    <i class="icon-pencil7 xxl-modal" data-toggle="tooltip" data-placement="top" title="editar Gestion"> </i>
                                </a>
                                <a class="list-icons-item" *ngIf="editGestion" (click)="EliminarGestion(null)"
                                [routerLink]="nada()" routerLinkActive="router-link-active"  >
                                    <i class="icon-trash xxl-modal" data-toggle="tooltip" data-placement="top" title="Eliminar Gestion"> </i>
                                </a>
                                <a class="list-icons-item" (click)="Cancelar()" data-dismiss="modal"
                                [routerLink]="nada()" routerLinkActive="router-link-active"  >
                                    <i class="icon-exit xxl-modal" data-toggle="tooltip" data-placement="top" title="Salir"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" style="margin-left: 15px; margin-right:15px;margin-top: 15px;" >
                        <div class="col-md-2 col-12">
                            <div class="form-group form-group-float">
                                <!-- <p class="alert alert-danger" *ngIf="gestionModelo.adgtideg == null">required</p> -->
                                <label class="form-group-float-label">Gestion</label>
                                <input type="text" class="form-control text-center" name="Gestion" placeholder="Gestion" required (change)="CalcularGestion(gestionModelo.adgtacte)"
                                  value="{{gestionModelo.adgtideg}}" required [(ngModel)]="gestionModelo.adgtideg" [disabled]="editGestion">
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Descripcion</label>
                                <input type="text" class="form-control text-center" name="Descripcion" 
                                placeholder="Descripcion" value="{{gestionModelo.adgtdesc}}" [(ngModel)]="gestionModelo.adgtdesc" [disabled]="editGestion">
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Estado</label>
                                <select class="form-control" [(ngModel)]="gestionModelo.adgtesta" [disabled]="editGestion">
                                    <option *ngFor="let item of ListaEstadosGestionPeriodos; let i = index"
                                    [value]="i+1"> {{item.adamdesc}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-12" style="padding-top: 2em;">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="gestion" name="gpd"
                                [(ngModel)]="gestionModelo.adgtgesd" [checked]="gestionModelo.adgtgesd" [disabled]="editGestion">
                                <label class="custom-control-label" for="gestion">Gestion por defecto</label>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-4 col-12">
                            <div class="form-group form-group-float pTop">
                                <label class="form-group-float-label">Tipo de Empresa</label>
                                <select class="form-control" [(ngModel)]="gestionModelo.adgtacte" [disabled]="editGestion" (change)="CalcularGestion(gestionModelo.adgtacte)">
                                    <option *ngFor="let item of ListaTiposEmpresa" placeholder="Tipo de Empresa"
                                    [value]=item.adamidea >{{item.adamdesc}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3 offset-md-1 col-12">
                            <div class="form-group form-group-float form-control">
                                <label class="form-group-float-label">Periodos</label>
                                <input type="text" class="form-control text-center" style="background-color: #dcdcdc;" 
                                disabled value="MES" placeholder="Periodos">
                            </div>
                            
                        </div>
                        <div class="col-md-3 offset-md-1 col-12">
                            <div class="form-group form-group-float pTop">
                                <label class="form-group-float-label">Cant. de Periodos</label>
                                <input type="text" class="form-control text-center" placeholder="Cantidad de periodos"
                                value="{{gestionModelo.adgtcanp}}" required [(ngModel)]="gestionModelo.adgtcanp" disabled>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row text-center" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-6 col-12" style="padding-top: 2em;">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-7">Mes Inicial de Gestion</label>
                                <div class="col-lg-5">
                                    <select class="form-control text-center" [(ngModel)]="mesInicial" disabled  
                                    required>
                                    <!-- (change)="armarFecha(gestionModelo.adgtideg,mesInicial)"  -->
                                        <option *ngFor="let item of listaMeses" [value]="item.id"  >{{item.name}} </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-12" style="padding-top: 2em;">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-7">Hasta</label>
                                <div class="col-lg-5">
                                    <select class="form-control" [(ngModel)]="mesFinal" disabled>
                                        <option *ngFor="let item of listaMeses" [value]="item.id" >{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-10 col-12">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-6">Fecha de Inicio de Gestion</label>
                                <div class="col-lg-6">
                                    <div class="input-group" style="justify-content: center;" >
                                        <input [disabled]="editar" type="date" name="fechaInicioGestion" disabled
                                        [value]="fechaInicioGestion | date:'short'" [(ngModel)]="fechaInicioGestion"
                                        >   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-12 col-12 alert alert-primary">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkboxGestionCerrada" (click) = "IniciarfechaModificacionAutomatica()"
                                            [checked]="gestionModelo.adgtmoda" [(ngModel)]="gestionModelo.adgtmoda" [disabled]="editGestion">
                                <label class="form-check-label" for="exampleCheck1">
                                    Modificar Automaticamente el Estado de la Gestion a “Gestion Cerrada”
                                </label>
                              </div>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-12 col-12">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-8">Fecha de Modificacion Automatica</label>
                                <div class="col-lg-4">
                                    <div class="input-group" style="justify-content: center;" >
                                        <input  [disabled]="!gestionModelo.adgtmoda || editGestion " type="month" name="fechaEdicion2" required 
                                           [value]="gestionModelo.adgtdiam" [(ngModel)]="gestionModelo.adgtdiam" style="width: 13em;"
                                           min="{{gestionModelo.adgtfegf }}">                                     
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre> {{ gestionModelo | json }} </pre>
                </div>
            </div>
        </div>



        <!-- Segundo Modal : Periodos de Gestion -->
        <div *ngIf="periodoModelo!= undefined" id="modal_periodo_gestion" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-blue">
                        <h6 class="card-title"><i class="icon-calendar22 xl-Icon"></i> 
                            PERIODOS DE GESTION
                        </h6>
                        <div class="modal-title">
                            <div class="list-icons float-right">
                                <a class="list-icons-item" *ngIf="editPeriodo" (click)="ActualizarPeriodo()"
                                [routerLink] = "nada()" routerLinkActive="router-link-active">
                                <i class="icon-floppy-disk xxl" data-toggle="tooltip" data-placement="top" title="Guardar"> </i>
                                </a>
                                <a class="list-icons-item" *ngIf="!editPeriodo" (click)="editarPeriodoModal()"  
                                [routerLink] = "nada()" routerLinkActive="router-link-active">
                                    <i class="icon-pencil7 xxl" data-toggle="tooltip" data-placement="top" title="Editar"> </i>
                                </a>
                                <a class="list-icons-item" (click)="Cancelar()" data-dismiss="modal"
                                [routerLink] = "nada()" routerLinkActive="router-link-active">
                                    <i class="icon-exit xxl" data-toggle="tooltip" data-placement="top" title="Salir"> </i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" style="margin-left: 15px; margin-right:15px;margin-top: 15px;" >
                        <div class="col-md-2 col-12">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Periodos</label>
                                <input type="text" class="form-control text-center" disabled
                                value="{{periodoModelo.adpridep | formatonumeroperiodo}}" placeholder="Periodo">
                            </div>
                        </div>
                        <div class="col-md-7 col-12">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Descripcion</label>
                                <input type="text" class="form-control text-center" [(ngModel)]="periodoModelo.adprdesc" disabled
                                [value]="periodoModelo.adprdesc" placeholder="Descripcion">
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Estado</label>
                                <select class="form-control" [(ngModel)]="periodoModelo.adpresta" [disabled] = "!editPeriodo" >
                                 <option *ngFor="let item of ListaEstadosGestionPeriodos; let i = index" 
                                 [value]="i" >{{item.adamdesc }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-4 col-12">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Mes</label>
                                <input type="text" value="{{periodoModelo.adprmesp | nombremes}}" disabled
                                class="form-control text-center" placeholder="Mes">
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-group form-group-float">
                                <label class="form-group-float-label">Gestion</label>
                                <input type="text" class="form-control text-center" [value]="periodoModelo.adprideg" disabled
                                placeholder="Gestion">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-12 col-12 alert alert-primary">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkboxPeriodoCerrado"  [disabled] = "!editPeriodo"
                                [checked]="periodoModelo.adprmoda" [(ngModel)]="periodoModelo.adprmoda" (click) = "IniciarfechaModificacionAutomaticaPeriodo()">
                                <label class="form-check-label" for="exampleCheck1">
                                    Modificar Automaticamente el Estado del Periodo a “Periodo Cerrado”
                                </label>
                              </div>
                        </div>
                    </div>

                    <div class="row" style="margin-left: 15px; margin-right:15px" >
                        <div class="col-md-12 col-12">
                            <div class="form-group row">
                                <label class="col-form-label col-lg-6 col-6">Fecha de Modificacion Automatica</label>
                                <div class="col-lg-6 col-4">
                                        <!-- <div class="form-group">
                                            <input type="text" name="fechaPeriodo1" class="form-control text-center" required [disabled]="!(periodoModelo.adprmoda && editPeriodo)"
                                            [value]="dia" [(ngModel)]="dia">                                  
                                        </div> -->
                                        <div class="form-group">
                                            <input type="date" name="fechaPeriodo2" class="form-control text-center" required [disabled]="!(periodoModelo.adprmoda && editPeriodo)"
                                            [value]="periodoModelo.adprdiam" data-date="format" [(ngModel)]="periodoModelo.adprdiam">                                  
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <PRE> {{periodoModelo | json  }}</PRE>
                </div>
            </div>
        </div>
      </div>
      <!-- /dashboard content -->
