<!-- Dashboard content -->
<div class="row haciadentro animaciones">
  <div class="col-xl-12">
    <!-- Table with togglable columns -->
    <br />
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">DATOS COMPLEMENTARIOS</h5>
        <div class="header-elements">
          <div class="list-icons">
            <a class="list-icons-item" data-action="collapse"></a>
            <a class="list-icons-item" data-action="reload"></a>
            <a class="list-icons-item" data-action="remove"></a>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-3 col-lg-4"></div>
          <div class="col-md-6 col-lg-4">
            <div
              class="form-group form-group-feedback form-group-feedback-right"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                #texto
                (keyup)="buscarAdm003(texto.value)"
              />
              <div *ngIf="buscar" class="form-control-feedback">
                <i class="icon-spinner2 spinner"></i>
              </div>
              <div *ngIf="!buscar" class="form-control-feedback">
                <i class="icon-search4"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-lg-4"></div>
        </div>
      </div>

      <div class="table-responsive">
        <!-- <table class="table table-togglable table-xs table-hover"> -->
        <table class="table table-xs table-hover">
          <thead>
            <tr class="bg-blue">
              <th data-hide="phone">Codigo</th>
              <th data-toggle="true" class="table-content-center">
                Descripcion
              </th>
              <th data-hide="phone,tablet">Estado</th>
              <th class="text-center" style="width: 30px;">
                Opciones
              </th>
            </tr>
          </thead>

          <tbody>
            <ng-container *ngFor="let adm003 of auxma; let i = index"
              ><tr (dblclick)="myFunction()" class="puntero">
                <td>{{ adm003.adamtipa }}</td>
                <td class="table-content-center">
                  {{ adm003.adamdesc }}
                </td>
                <td>
                  <!-- <input
                      *ngIf="adm003.adamesta"
                      type="checkbox"
                      class="form-check-input-switchery"
                      [checked]="false"
                      [disabled]="true"
                      data-fouc
                    /> -->
                  <span
                    *ngIf="adm003.adamesta === '1' || adm003.adamesta === true"
                    class="switchery switchery-default"
                    style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 10px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"
                    ><small
                      style="left: 18px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"
                    ></small
                  ></span>
                  <span
                    *ngIf="adm003.adamesta === '0' || adm003.adamesta === false"
                    class="switchery switchery-default"
                    style="box-shadow: rgb(201, 26, 26) 0px 0px 0px 0px inset; border-color: rgb(238, 63, 63); background-color: rgb(185, 11, 11); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s; opacity: 0.5;"
                    ><small
                      style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"
                    ></small
                  ></span>
                </td>
                <td class="text-center">
                  <div class="list-icons">
                    <a
                      href="#"
                      (click)="actualizar(adm003)"
                      data-toggle="modal"
                      data-target="#modal_theme_info"
                      class="list-icons-item text-primary-600"
                      ><i class="icon-pencil7"></i
                    ></a>
                    <a href="#" class="list-icons-item text-danger-600"
                      ><i class="icon-trash"></i
                    ></a>
                    <a href="#" class="list-icons-item text-teal-600"
                      ><i class="icon-cog6"></i
                    ></a>
                  </div>
                </td>
              </tr>
              <!-- <tr *ngIf="i % 2 === 1" class="table-info">
                    <td>{{ adm003.adamtipa }}</td>
                    <td class="table-content-center">
                      {{ adm003.adamdesc }}
                    </td>
                    <td>
                      <span
                        *ngIf="adm003.adamesta === '1'"
                        class="switchery switchery-default"
                        style="background-color: rgb(100, 189, 99); border-color: rgb(100, 189, 99); box-shadow: rgb(100, 189, 99) 0px 0px 0px 10px inset; transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;"
                        ><small
                          style="left: 18px; background-color: rgb(255, 255, 255); transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"
                        ></small
                      ></span>
                      <span
                        *ngIf="adm003.adamesta === '0'"
                        class="switchery switchery-default"
                        style="box-shadow: rgb(201, 26, 26) 0px 0px 0px 0px inset; border-color: rgb(238, 63, 63); background-color: rgb(185, 11, 11); transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s; opacity: 0.5;"
                        ><small
                          style="left: 0px; transition: background-color 0.4s ease 0s, left 0.2s ease 0s;"
                        ></small
                      ></span>
                    </td>
                    <td class="text-center">
                      <div class="list-icons">
                        <a
                          href="#"
                          data-toggle="modal"
                          data-target="#modal_theme_info"
                          class="list-icons-item text-primary-600"
                          ><i class="icon-pencil7"></i
                        ></a>
                        <a href="#" class="list-icons-item text-danger-600"
                          ><i class="icon-trash"></i
                        ></a>
                        <a href="#" class="list-icons-item text-teal-600"
                          ><i class="icon-cog6"></i
                        ></a>
                      </div>
                    </td>
                  </tr> -->
            </ng-container>
          </tbody>
        </table>
        <br />
      </div>
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading" class="row justify-content-center">
        <ul class="pagination pagination-flat align-self-center">
          <li class="page-item puntero">
            <a (click)="paginacion('000')" class="page-link"
              >&larr; &nbsp; Atras</a
            >
          </li>
          <ng-container *ngFor="let pg of pagi; let i = index">
            <li
              [ngClass]="{
                'page-item': true,
                puntero: true,
                active: numeroPag === i + 1
              }"
            >
              <a (click)="paginacion(pg.pag)" class="page-link">{{ pg.pag }}</a>
            </li>
          </ng-container>
          <li class="page-item puntero">
            <a (click)="paginacion('999')" class="page-link"
              >Sig &nbsp; &rarr;</a
            >
          </li>
        </ul>
      </div>
      <br />
    </div>
    <!-- /table with togglable columns -->
  </div>
</div>

<!-- modal -->
<div id="modal_theme_info" class="modal" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content animacionmodal haciadentro">
      <div class="modal-header bg-info">
        <h6 class="modal-title">GRUPO</h6>
        <div class="list-icons float-right">
          <!-- <a class="puntero"
            ><i
              class="icon-floppy-disk xxl"
              data-toggle="tooltip"
              data-placement="top"
              title="Guardar Gestion"
            >
            </i
          ></a> -->
          <a
            class="puntero"
            (click)="edtGr()"
            routerLinkActive="router-link-active"
          >
            <i
              class="icon-pencil7 xxl"
              data-toggle="tooltip"
              data-placement="top"
              title="editar Gestion"
            >
            </i
          ></a>

          <a class="puntero"
            ><i
              class="icon-exit xxl"
              data-toggle="tooltip"
              data-placement="top"
              data-dismiss="modal"
              title="Salir"
            >
            </i
          ></a>
        </div>
      </div>
      <div class="modal-body ">
        <div class="row">
          <div class="col-3 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group form-group-float">
              <label class="form-group-float-label">Codigo</label>
              <input
                type="text"
                class="form-control"
                placeholder="Codigo"
                [(ngModel)]="amd003.adamtipa"
                [disabled]="!GrupHab"
                required
              />
            </div>
          </div>
          <div class="col-9 col-sm-5 col-md-5 col-lg-5">
            <div class="form-group form-group-float">
              <label class="form-group-float-label">Descripcion</label>
              <input
                type="text"
                class="form-control"
                placeholder="Descripcion"
                [(ngModel)]="amd003.adamdesc"
                [disabled]="!GrupHab"
                required
              />
            </div>
          </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group form-group-float">
              <label class="form-group-float-label">Sigla</label>
              <input
                type="text"
                class="form-control"
                placeholder="Sigla"
                [(ngModel)]="amd003.adamsigl"
                [disabled]="!GrupHab"
                required
              />
            </div>
          </div>
          <div class="col-6 col-sm-2 col-md-2 col-lg-2">
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                [(ngModel)]="amd003.adamesta"
                [disabled]="!GrupHab"
                id="customSwitch1"
              />
              <label class="custom-control-label" for="customSwitch1"
                >Estado</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-content animacionmodal haciadentro">
        <div class="modal-header bg-info">
          <h6 class="modal-title">SUB-GRUPO</h6>
          <div class="list-icons float-right">
            <a
              class="puntero"
              [routerLink]="nada()"
              routerLinkActive="router-link-active"
              ><i
                class="icon-file-plus xxl"
                data-toggle="tooltip"
                data-placement="top"
                title="Nuevo"
              >
              </i
            ></a>
            <a class="punter" routerLinkActive="router-link-active">
              <i
                class="icon-pencil7 xxl"
                data-toggle="tooltip"
                data-placement="top"
                title="editar Gestion"
              >
              </i
            ></a>
            <a class="puntero"
              ><i
                class="icon-trash xxl"
                data-toggle="tooltip"
                data-placement="top"
                title="Eliminar Gestion"
              >
              </i
            ></a>
          </div>
        </div>
        <div class="modal-body ">
          <ng-container *ngFor="let auxSub of auxmaSub; let i = index">
            <div class="row justify-content-center">
              <div class="col-3 col-sm-1 col-md-1 col-lg-1">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Cod</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="auxSub.adamtipa"
                    [value]="1"
                    required
                    placeholder="Codigo"
                  />
                </div>
              </div>
              <div class="col-9 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Descripcion</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Descripcion"
                    [(ngModel)]="auxSub.adamdesc"
                  />
                </div>
              </div>
              <div class="col-5 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Sigla</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="auxSub.adamsigl"
                    placeholder="Sigla"
                  />
                </div>
              </div>
              <div class="col-2 col-sm-2 col-md-2 col-lg-2">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Sec</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="auxSub.adamsecu"
                    placeholder="Sec"
                  />
                </div>
              </div>
              <div class="col-5 col-sm-2 col-md-2 col-lg-2">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [(ngModel)]="auxSub.adamesta"
                    id="customSwitch3"
                  />
                  <label class="custom-control-label" for="customSwitch3"
                    >Estado</label
                  >
                </div>
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [(ngModel)]="auxSub.adampred"
                    id="customSwitch2"
                  />
                  <label class="custom-control-label" for="customSwitch2"
                    >Pred</label
                  >
                </div>
              </div>
            </div>
            <div *ngIf="i + 1 !== auxmaSubLeng" class="separadorh"></div>
          </ng-container>
          <div *ngIf="loadingSub" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
