<!-- Dashboard content -->
<div class="row haciadentro animaciones">
  <div class="col-xl-12">
    <!-- Table with togglable columns -->

    <div class="card pb0">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">DATOS COMPLEMENTARIOS</h5>
      </div>

      <div class="card-body pb0">
        <div class="row">
          <div class="col-1 col-sm-1 col-md-3 col-lg-4"></div>
          <div class="col-9 col-sm-9 col-md-6 col-lg-4">
            <div
              class="form-group form-group-feedback form-group-feedback-right"
            >
              <input
                type="text"
                class="form-control"
                placeholder="Buscar"
                id="buscarGrupoLupa"
                #texto
                (keyup)="buscarAdm003(texto.value)"
              />
              <div *ngIf="buscar" class="form-control-feedback">
                <i class="icon-spinner2 spinner"></i>
              </div>
              <div *ngIf="!buscar" class="form-control-feedback">
                <label for="buscarGrupoLupa">
                  <i class="icon-search4 puntero" title="buscar"></i
                ></label>
              </div>
            </div>
          </div>
          <div class="col-2 col-sm-2 col-md-3 col-lg-4">
            <div class="form-control-feedback">
              <i class="icon-diff-added puntero" (click)="nuevElemGrup()" title="agregar"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="table-responsive text-center">
            <!-- <table class="table table-togglable table-xs table-hover"> -->
            <table
              class="table table-sm table-hover table-striped table-bordered"
            >
              <thead>
                <tr class="bg-blue">
                  <th data-hide="phone">Codigo</th>
                  <th data-toggle="true" class="table-content-center">
                    Descripcion
                  </th>
                  <th data-hide="phone,tablet">Estado</th>
                  <th class="text-center" style="width: 30px;">
                    Opciones
                  </th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let adm003 of auxma; let i = index"
                  ><tr (dblclick)="myFunction()" class="puntero PRL0">
                    <td>{{ adm003.adamtipa }}</td>
                    <td class="table-content-center">
                      {{ adm003.adamdesc }}
                    </td>
                    <td>
                      <div class="custom-control custom-switch">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          [(ngModel)]="adm003.adamesta"
                          [disabled]="true"
                          title="{{ adm003.adamesta }}"
                          id="GrupEst{{ i }}"
                        />
                        <label
                          class="custom-control-label"
                          for="GrupEst{{ i }}"
                        ></label>
                      </div>
                    </td>
                    <td class="text-center">
                      <div class="list-icons">
                        <a
                          href="#"
                          (click)="actualizar(adm003)"
                          data-toggle="modal"
                          data-target="#modal_theme_info"
                          class="list-icons-item text-primary-600"
                          ><i class="icon-file-eye" title="visualizar"></i
                        ></a>
                        <a href="#" class="list-icons-item text-teal-600"
                          ><i class="icon-pencil7" title="editar"></i
                        ></a>
                        <a href="#" class="list-icons-item text-danger-600"
                          ><i class="icon-trash" title="eliminar"></i
                        ></a>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <br />
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading" class="row justify-content-center">
        <ul class="pagination pagination-flat align-self-center">
          <li class="page-item puntero">
            <a (click)="paginacion('000')" class="page-link"
              >&larr; &nbsp; Atras</a
            >
          </li>
          <ng-container *ngFor="let pg of pagi; let i = index">
            <li
              [ngClass]="{
                'page-item': true,
                puntero: true,
                active: numeroPag === i + 1
              }"
            >
              <a (click)="paginacion(pg.pag)" class="page-link">{{ pg.pag }}</a>
            </li>
          </ng-container>
          <li class="page-item puntero">
            <a (click)="paginacion('999')" class="page-link"
              >Sig &nbsp; &rarr;</a
            >
          </li>
        </ul>
      </div>
      <br />
    </div>
    <!-- /table with togglable columns -->
  </div>
</div>

<!-- modal -->
<div id="modal_theme_info" class="modal" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content animacionmodal haciadentro">
      <div class="modal-header bg-blue">
        <h6 class="modal-title">GRUPO</h6>
        <div class="list-icons float-right">
          <a class="puntero" *ngIf="btnGrupo.BtnAgreg"
            ><i
              class="icon-file-plus xxl"
              data-toggle="tooltip"
              data-placement="top"
              title="Nuevo"
            >
            </i
          ></a>
          <a class="puntero" *ngIf="btnGrupo.BtnGuard"
            ><i
              class="icon-floppy-disk xxl"
              data-toggle="tooltip"
              (click)="Grup('guardar')"
              data-placement="top"
              title="Guardar"
            >
            </i
          ></a>
          <a *ngIf="btnGrupo.BtnEdita" class="puntero" (click)="Grup('editar')">
            <i
              class="icon-pencil7 xxl"
              data-toggle="tooltip"
              data-placement="top"
              title="editar"
            >
            </i
          ></a>
          <a class="puntero" *ngIf="btnGrupo.BtnElimi"
            ><i
              class="icon-trash xxl"
              data-toggle="tooltip"
              data-placement="top"
              (click)="elimElemGrup()"
              title="Eliminar"
            >
            </i
          ></a>
          <a class="puntero"
            ><i
              class="icon-exit xxl"
              data-toggle="tooltip"
              data-placement="top"
              data-dismiss="modal"
              (click)="salir()"
              title="Salir"
            >
            </i
          ></a>
        </div>
      </div>
      <div class="modal-body ">
        <div class="row">
          <div class="col-3 col-sm-2 col-md-2 col-lg-2">
            <div class="form-group form-group-float">
              <label class="form-group-float-label">Codigo</label>
              <input
                type="text"
                class="form-control"
                placeholder="Codigo"
                [(ngModel)]="amd003.adamtipa"
                [disabled]="true"
                title="{{ amd003.adamtipa }}"
                required
              />
            </div>
          </div>
          <div class="col-9 col-sm-5 col-md-5 col-lg-5">
            <div class="form-group form-group-float">
              <label class="form-group-float-label">Descripcion</label>
              <input
                type="text"
                class="form-control"
                placeholder="Descripcion"
                [(ngModel)]="amd003.adamdesc"
                [disabled]="!habiCampo.GrupHab"
                title="{{ amd003.adamdesc }}"
                required
              />
            </div>
          </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group form-group-float">
              <label class="form-group-float-label">Sigla</label>
              <input
                type="text"
                class="form-control"
                placeholder="Sigla"
                [(ngModel)]="amd003.adamsigl"
                [disabled]="!habiCampo.GrupHab"
                title="{{ amd003.adamsigl }}"
                required
              />
            </div>
          </div>
          <div class="col-6 col-sm-2 col-md-2 col-lg-2">
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                [(ngModel)]="amd003.adamesta"
                [disabled]="!habiCampo.GrupHab"
                title="{{ amd003.adamesta }}"
                id="customSwitch1"
              />
              <label class="custom-control-label" for="customSwitch1"
                >Estado</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-content animacionmodal haciadentro">
        <div class="modal-header bg-blue">
          <h6 class="modal-title">SUB-GRUPO</h6>
          <div class="list-icons float-right">
            <a class="puntero" *ngIf="btnSubGrupo.BtnSubAgreg"
              ><i
                class="icon-file-plus xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="SubGrup('nuevo')"
                title="Nuevo"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnSubGrupo.BtnSubCance"
              ><i
                class="icon-cancel-circle2 xxl"
                data-toggle="tooltip"
                (click)="SubGrup('cancelar')"
                data-placement="top"
                data-dismiss="modal"
                title="Cancelar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnSubGrupo.BtnSubGuard"
              ><i
                class="icon-floppy-disk xxl"
                data-toggle="tooltip"
                (click)="SubGrup('guardar')"
                data-placement="top"
                title="Guardar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnSubGrupo.BtnSubEdita">
              <i
                class="icon-pencil7 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="SubGrup('editar')"
                title="editar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnSubGrupo.BtnSubElimi"
              ><i
                class="icon-trash xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="SubGrup('eliminar')"
                title="Eliminar"
              >
              </i
            ></a>
            <a class="puntero"
              ><i
                class="icon-exit xxl"
                data-toggle="tooltip"
                data-placement="top"
                data-dismiss="modal"
                (click)="salir()"
                title="Salir"
              >
              </i
            ></a>
          </div>
        </div>
        <div class="modal-body ">
          <ng-container *ngFor="let auxSub of auxmaSub; let i = index">
            <div class="row justify-content-center">
              <div
                *ngIf="habiCampo.ElimSubGru"
                class="col-1 col-sm-1 col-md-1 col-lg-1"
              >
                <!-- javascript:void 0  ||  javascript:; -->
                <a
                  (click)="elimElemSub(auxSub.adamidea)"
                  href="javascript:void 0"
                  class="list-icons-item text-danger-600"
                  ><i class="icon-trash"></i
                ></a>
              </div>
              <div class="col-3 col-sm-1 col-md-1 col-lg-1">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Cod</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="auxSub.adamidea"
                    title="{{ auxSub.adamidea }}"
                    [disabled]="!habiCampo.codigo"
                    required
                    placeholder="Codigo"
                  />
                </div>
              </div>
              <div class="col-9 col-sm-4 col-md-4 col-lg-4">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Descripcion</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Descripcion"
                    [(ngModel)]="auxSub.adamdesc"
                    title="{{ auxSub.adamdesc }}"
                    [disabled]="!habiCampo.SubGrupHab"
                  />
                </div>
              </div>
              <div class="col-5 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Sigla</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="auxSub.adamsigl"
                    [disabled]="!habiCampo.SubGrupHab"
                    title="{{ auxSub.adamsigl }}"
                    placeholder="Sigla"
                  />
                </div>
              </div>
              <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Sec</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="auxSub.adamsecu"
                    [disabled]="!habiCampo.SubGrupHab"
                    title="{{ auxSub.adamsecu }}"
                    placeholder="Sec"
                  />
                </div>
              </div>
              <div class="col-5 col-sm-2 col-md-2 col-lg-2">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [(ngModel)]="auxSub.adamesta"
                    [disabled]="!habiCampo.SubGrupHab"
                    title="{{ auxSub.adamesta }}"
                    id="subGrEst{{ i }}"
                  />
                  <label class="custom-control-label" for="subGrEst{{ i }}"
                    >Estado</label
                  >
                </div>
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [(ngModel)]="auxSub.adampred"
                    [disabled]="!habiCampo.SubGrupHab"
                    title="{{ auxSub.adampred }}"
                    id="subGrPred{{ i }}"
                  />
                  <label class="custom-control-label" for="subGrPred{{ i }}"
                    >Pred</label
                  >
                </div>
              </div>
            </div>
            <div class="separadorh"></div>
          </ng-container>
          <div *ngIf="loadingSub" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
