<!-- height-container -->
<div class="card haciadentro animaciones superior" *ngIf="start.startCont">
  <div class="card-body pb-0" style="padding-bottom: 0px;">
    <div class="card-header header-elements-inline" style="padding: 0px;">
      <h5 class="card-title font-weight-bold">
        <img
          src="https://trello-attachments.s3.amazonaws.com/5e00f87a7a953c871e9a19f0/37x37/026b03c4f5a191f167b26d1a634519ca/image.png"
          alt=""
        />
        Unidades Organicas
      </h5>
    </div>
    <div class="row p0 m0" *ngFor="let data of dataEmpres">
      <div class="col-sm-2 col-12">
        <div class="card card-padding margin-botton-card ">
          <img
            src="{{ data.logo_empresa | imagenpipe }}"
            alt="sin imagen"
            class="img-responsive rounded img-fluid"
            style="height: 116px;width: 100px; align-self: center;"
          />
        </div>
      </div>
      <div class="col-sm-10 col-12">
        <div class="card card-padding margin-botton-card ">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-feedback m0">
                <div class="row text-center m0">
                  <div class="col-sm-6 col-12 form-group form-group-float m0">
                    <label class="form-group-float-label m0 p0"
                      >Razon Social
                    </label>
                    <input
                      type="text"
                      class="form-control text-center p0 alturaInputs fondo"
                      placeholder="Razon Social"
                      disabled
                      value="{{ data.razon_social }}"
                    />
                  </div>
                  <div class="col-sm-5 col-12 form-group form-group-float m0">
                    <label class="form-group-float-label m0 p0">Sigla </label>
                    <input
                      type="text"
                      class="form-control text-center p0 alturaInputs fondo"
                      placeholder="sigla"
                      disabled
                      value="{{ data.sigla }}"
                    />
                  </div>
                </div>
                <div class="row text-center m0">
                  <div class="col-sm-6 col-12 form-group form-group-float m0">
                    <label class="form-group-float-label m0 p0"
                      >Actividad de empresa
                    </label>
                    <input
                      type="text"
                      class="form-control text-center p0 alturaInputs fondo"
                      placeholder="Nit"
                      disabled
                      value="{{ data.actividad_empresarial }}"
                    />
                  </div>
                  <div
                    class="col-sm-5 col-12 form-group form-group-float m0"
                    style="padding-bottom: 5px;"
                  >
                    <label class="form-group" style="margin-bottom: .25rem;"
                      >Gestion</label
                    >
                    <select class="form-control selectpicker show-tick">
                      <option
                        *ngFor="let gruac of data.gestiones"
                        [value]="gruac.gestion"
                      >
                        {{ gruac.gestion }}</option
                      >
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1 col-sm-1 col-md-3 col-lg-8"></div>
      <div class="col-8 col-sm-9 col-md-6 col-lg-3">
        <div class="form-group form-group-feedback form-group-feedback-right">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar"
            id="buscarGrupoLupa"
            #texto
            [formControl]="textBuscarAdm009"
          />
          <div *ngIf="start.startBusc" class="form-control-feedback">
            <i class="icon-spinner2 spinner"></i>
          </div>
          <div *ngIf="!start.startBusc" class="form-control-feedback">
            <label for="buscarGrupoLupa">
              <i class="icon-search4 puntero" title="buscar"></i
            ></label>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-2 col-md-3 col-lg-1" style="padding-top: 30px;">
        <div class="form-control-feedback">
          <!-- (click)="nuevoAdm009()" -->
          <i
            data-toggle="modal"
            data-target="#modal_adm_009"
            class="icon-diff-added puntero xxl"
            title="agregar"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row p0 m0">
    <div class="col-sm-12">
      <app-cargacontent *ngIf="start.startLoad"></app-cargacontent>
      <div class="table-responsive text-center">
        <table class="table table-sm table-hover table-bordered">
          <thead *ngIf="start.startTabl">
            <tr class="bg-blue">
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Sigla</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="table-border-double PRL0"
              *ngFor="
                let cont003 of auxma;
                let i = index;
                let impar = odd;
                let par = even
              "
              [ngClass]="{
                tablaCebradoPar: par,
                tablaCebradoImpar: impar
              }"
            >
              <td>{{ cont003.id_unidad_division }}</td>
              <td class="table-content-center">
                {{ cont003.descripcion }}
              </td>
              <td class="table-content-center">
                {{ cont003.sigla }}
              </td>
              <td>
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [disabled]="true"
                    [checked]="cont003.estado"
                    title="cont003.estado"
                    id="cont003estado{{ i }}"
                  />
                  <label
                    class="custom-control-label"
                    for="cont003estado{{ i }}"
                  ></label>
                </div>
              </td>
              <td class="text-center">
                <div class="list-icons">
                  <!-- (click)="OpcionesTable(cont003, 'visualizar')" -->
                  <i
                    class="icon-file-eye"
                    title="visualizar"
                    data-toggle="modal"
                    data-target="#modal_adm_009"
                    class="icon-file-eye text-primary-600 puntero"
                  ></i>
                  <!-- (click)="OpcionesTable(cont003, 'editar')" -->
                  <i
                    class="icon-pencil7"
                    title="editar"
                    data-toggle="modal"
                    data-target="#modal_adm_009"
                    class="icon-pencil7 text-teal-600 puntero"
                  ></i>
                  <!-- (click)="OpcionesTable(cont003, 'eliminar')" -->
                  <i
                    class="icon-trash"
                    title="eliminar"
                    data-toggle="modal"
                    data-target="#modal_adm_009_eliminar"
                    class="icon-trash text-danger-600 puntero"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div class="row justify-content-center">
        <ul class="pagination pagination-flat align-self-center">
          <li class="page-item puntero">
            <a (click)="paginacion('000')" class="page-link"
              >&larr; &nbsp; Atras</a
            >
          </li>
          <ng-container *ngFor="let pg of pagi; let i = index">
            <li
              [ngClass]="{
                'page-item': true,
                puntero: true,
                active: start.startNumP === i + 1
              }"
            >
              <a (click)="paginacion(pg.pag)" class="page-link">{{ pg.pag }}</a>
            </li>
          </ng-container>
          <li class="page-item puntero">
            <a (click)="paginacion('999')" class="page-link"
              >Sig &nbsp; &rarr;</a
            >
          </li>
        </ul>
      </div>
      <br />
    </div>
  </div>
</div>
<app-cargacontent *ngIf="!start.startCont"></app-cargacontent>
<!-- 
<div class="card ">
  <div class="card-body pb-0">
    <div class="row p0 m0">
      <form
        ngNativeValidate
        autocomplete="off"
        [formGroup]="form"
        (ngSubmit)="guardarDatos()"
      >
        <div class="form-group">
          <label for="exampleInputEmail1">Descripcion</label>
          <input
            type="text"
            class="form-control"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="descripcion"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Sigla</label>
          <input
            type="text"
            class="form-control"
            placeholder="Sigla"
            formControlName="sigla"
            oninvalid="this.setCustomValidity('Descripcion')"
            oninput="setCustomValidity('')"
            required
          />
        </div>

        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="estado"
          />
          <label class="form-check-label" for="exampleCheck1">Estado</label>
        </div>
        <button type="submit" class="btn btn-primary">FormReactivos</button>
      </form>
      <pre>
      status: {{ form.status }}
    </pre
      >

      <pre>
      {{ form.value | json }}
    </pre
      >
    </div>
  </div>
</div> -->
