<!-- Latest posts -->
<div class="card">
  <div class="card-body pb-0">
    <div class="row">
      <div class="col-xl-12">
        <div class="media flex-column flex-sm-row mt-0 mb-3">
          <div class="mr-sm-3 mb-2 mb-sm-0">
            <div class="card-img-actions">
              <a href="#">
                <img
                  src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn_400x400.png"
                  class="img-fluid img-preview rounded"
                  alt=""
                />
              </a>
            </div>
          </div>
          <div class="media-body">
            <div class="row text-center">
              <div class="col-md-6">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Razon Social</label>
                  <input
                    style="text-align: center;"
                    type="text"
                    class="form-control"
                    [disabled]="false"
                    placeholder="Introducir Codigo"
                    value="Ormate"
                    name="codigo"
                    title="razon social"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label">Sigla</label>
                  <input
                    style="text-align: center;"
                    type="text"
                    class="form-control"
                    [disabled]="false"
                    placeholder="Introducir Codigo"
                    value="Ormate Srl"
                    name="codigo"
                    title="razon social"
                  />
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-6">
                <div class="form-group form-group-float">
                  <label class="form-group-float-label"
                    >Actividad de empresa</label
                  >
                  <input
                    style="text-align: center;"
                    type="text"
                    class="form-control"
                    [disabled]="false"
                    placeholder="Introducir Codigo"
                    value="Comercial"
                    name="codigo"
                    title="razon social"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-group">Gestion</label>
                <select
                  [disabled]="false"
                  class="form-control selectpicker show-tick"
                  name="dependencia"
                >
                  <option> opcion 1</option>
                  <option> opcion 2</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="media flex-column flex-sm-row mt-0 mb-3">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Eugene</td>
                  <td>Kopyov</td>
                  <td>@Kopyov</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Victoria</td>
                  <td>Baker</td>
                  <td>@Vicky</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>James</td>
                  <td>Alexander</td>
                  <td>@Alex</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Franklin</td>
                  <td>Morrison</td>
                  <td>@Frank</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /latest posts -->
