<!-- height-container -->
<div class="card haciadentro animaciones superior" *ngIf="start.Conte">
  <div class="card-body pb-0" style="padding-bottom: 0px;">
    <div class="card-header header-elements-inline" style="padding: 0px;">
      <h5 class="card-title font-weight-bold">
        <img
          src="https://trello-attachments.s3.amazonaws.com/5e00f87a7a953c871e9a19f0/37x37/026b03c4f5a191f167b26d1a634519ca/image.png"
          alt=""
        />
        Unidades Organicas
      </h5>
    </div>
    <div class="row p0 m0" *ngFor="let data of dataEmpres">
      <div class="col-sm-2 col-12">
        <div class="card card-padding margin-botton-card ">
          <img
            src="{{ data.logo_empresa | imagenpipe }}"
            alt="sin imagen"
            class="img-responsive rounded img-fluid"
            style="height: 116px;width: 100px; align-self: center;"
          />
        </div>
      </div>
      <div class="col-sm-10 col-12">
        <div class="card card-padding margin-botton-card ">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group form-group-feedback m0">
                <div class="row text-center m0">
                  <div class="col-sm-6 col-12 form-group form-group-float m0">
                    <label class="form-group-float-label m0 p0"
                      >Razon Social
                    </label>
                    <input
                      type="text"
                      class="form-control text-center p0 alturaInputs fondo"
                      placeholder="Razon Social"
                      disabled
                      value="{{ data.razon_social }}"
                    />
                  </div>
                  <div class="col-sm-5 col-12 form-group form-group-float m0">
                    <label class="form-group-float-label m0 p0">Sigla </label>
                    <input
                      type="text"
                      class="form-control text-center p0 alturaInputs fondo"
                      placeholder="sigla"
                      disabled
                      value="{{ data.sigla }}"
                    />
                  </div>
                </div>
                <div class="row text-center m0">
                  <div class="col-sm-6 col-12 form-group form-group-float m0">
                    <label class="form-group-float-label m0 p0"
                      >Actividad de empresa
                    </label>
                    <input
                      type="text"
                      class="form-control text-center p0 alturaInputs fondo"
                      placeholder="Nit"
                      disabled
                      value="{{ data.actividad_empresarial }}"
                    />
                  </div>
                  <div
                    class="col-sm-5 col-12 form-group form-group-float m0"
                    style="padding-bottom: 5px;"
                  >
                    <label class="form-group" style="margin-bottom: .25rem;"
                      >Gestion</label
                    >
                    <select
                      class="form-control selectpicker show-tick"
                      (change)="cont003Selectgest($event.target.value)"
                    >
                      <option
                        *ngFor="let gruac of data.gestiones"
                        [value]="gruac.gestion"
                      >
                        {{ gruac.gestion }}</option
                      >
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-1 col-sm-1 col-md-3 col-lg-8"></div>
      <div class="col-8 col-sm-9 col-md-6 col-lg-3">
        <div class="form-group form-group-feedback form-group-feedback-right">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar"
            id="buscarGrupoLupa"
            [formControl]="textBuscarAdm009"
          />
          <div *ngIf="start.Busca" class="form-control-feedback">
            <i class="icon-spinner2 spinner"></i>
          </div>
          <div *ngIf="!start.Busca" class="form-control-feedback">
            <label for="buscarGrupoLupa">
              <i class="icon-search4 puntero" title="buscar"></i
            ></label>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-2 col-md-3 col-lg-1" style="padding-top: 30px;">
        <div class="form-control-feedback">
          <i
            data-toggle="modal"
            data-target="#modal_cont_003"
            class="icon-diff-added puntero xxl"
            (click)="nuevoCont003()"
            title="agregar"
          ></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row p0 m0">
    <div *ngIf="table" class="col-sm-12">
      <span class="form-text text-danger text-center"
        >No existen datos para mostrar</span
      >
    </div>

    <div *ngIf="!table" class="col-sm-12">
      <app-cargacontent *ngIf="start.Loadi"></app-cargacontent>
      <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
          <thead *ngIf="start.Table" class="text-center">
            <tr class="bg-blue">
              <th>______________Codigo______________</th>
              <th>Sigla</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="table-border-double PRL0"
              *ngFor="
                let cont003 of auxma;
                let i = index;
                let impar = odd;
                let par = even
              "
              [ngClass]="{
                tablaCebradoPar: par,
                tablaCebradoImpar: impar
              }"
            >
              <td *ngIf="cont003.division === 1">
                {{ cont003.division }} &nbsp; {{ cont003.descripcion }}
              </td>
              <td *ngIf="cont003.division === 2">
                &nbsp; &nbsp;&nbsp;{{ cont003.division }} &nbsp;
                {{ cont003.descripcion }}
              </td>
              <td *ngIf="cont003.division === 3">
                &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{ cont003.division }}
                &nbsp;
                {{ cont003.descripcion }}
              </td>
              <td *ngIf="cont003.division === 4">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{
                  cont003.division
                }}
                &nbsp;
                {{ cont003.descripcion }}
              </td>
              <td *ngIf="cont003.division === 5">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{
                  cont003.division
                }}
                &nbsp; {{ cont003.descripcion }}
              </td>
              <td *ngIf="cont003.division === 6">
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;{{
                  cont003.division
                }}
                &nbsp; {{ cont003.descripcion }}
              </td>
              <td class="table-content-center text-center">
                {{ cont003.sigla }}
              </td>
              <td class="table-content-center text-center">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    [disabled]="true"
                    [checked]="cont003.estado"
                    title="cont003.estado"
                    id="cont003estado{{ i }}"
                  />
                  <label
                    class="custom-control-label"
                    for="cont003estado{{ i }}"
                  ></label>
                </div>
              </td>
              <td class="table-content-center text-center">
                <div class="list-icons">
                  <i
                    class="icon-file-eye"
                    title="visualizar"
                    data-toggle="modal"
                    data-target="#modal_cont_003"
                    (click)="OpcionesTable(cont003, 'visualizar')"
                    class="icon-file-eye text-primary-600 puntero"
                  ></i>
                  <i
                    class="icon-pencil7"
                    title="editar"
                    data-toggle="modal"
                    data-target="#modal_cont_003"
                    (click)="OpcionesTable(cont003, 'editar')"
                    class="icon-pencil7 text-teal-600 puntero"
                  ></i>
                  <i
                    class="icon-trash"
                    title="eliminar"
                    data-toggle="modal"
                    data-target="#modal_cont_003_eliminar"
                    (click)="OpcionesTable(cont003, 'eliminar')"
                    class="icon-trash text-danger-600 puntero"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <br />
      </div>
      <div class="row justify-content-center">
        <ul class="pagination pagination-flat align-self-center">
          <li class="page-item puntero">
            <a (click)="paginacion('000')" class="page-link"
              >&larr; &nbsp; Atras</a
            >
          </li>
          <ng-container *ngFor="let pg of pagi; let i = index">
            <li
              [ngClass]="{
                'page-item': true,
                puntero: true,
                active: start.NumPa === i + 1
              }"
            >
              <a (click)="paginacion(pg.pag)" class="page-link">{{ pg.pag }}</a>
            </li>
          </ng-container>
          <li class="page-item puntero">
            <a (click)="paginacion('999')" class="page-link"
              >Sig &nbsp; &rarr;</a
            >
          </li>
        </ul>
      </div>
      <br />
    </div>
  </div>
</div>
<app-cargacontent *ngIf="!start.Conte"></app-cargacontent>

<div id="modal_cont_003" class="modal" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content animacionmodal haciadentro">
      <form
        [formGroup]="forma"
        (ngSubmit)="OpcionesModal('guardar')"
        ngNativeValidate
        autocomplete="off"
        class="form"
      >
        <div class="modal-header bg-blue">
          <h6 class="modal-title">CONT003</h6>
          <div class="list-icons float-right">
            <a class="puntero" *ngIf="btnGrupo.BtnCance"
              ><i
                class="icon-cancel-circle2 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal('cancelar')"
                title="Cancelar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnNuevo">
              <i
                data-toggle="tooltip"
                data-placement="top"
                class="icon-diff-added xxl"
                (click)="OpcionesModal('nuevo')"
                title="nuevo"
              ></i>
            </a>
            <button
              *ngIf="btnGrupo.BtnGuard"
              style="padding: 1px;color: white;"
              type="submit"
              class="btn text-warning-600 btn-flat btn-icon btn-rounded"
            >
              <i
                *ngIf="!btnGrupo.BtnLoadi"
                class="icon-floppy-disk xxl"
                data-toggle="tooltip"
                data-placement="top"
              ></i>
            </button>
            <i
              *ngIf="btnGrupo.BtnLoadi"
              class="icon-spinner spinner position-left"
              title="Guardando..."
            >
            </i>
            <a *ngIf="btnGrupo.BtnEdita" class="puntero">
              <i
                class="icon-pencil7 xxl"
                data-toggle="tooltip"
                data-placement="top"
                (click)="OpcionesModal('editar')"
                title="editar"
              >
              </i
            ></a>
            <a class="puntero" *ngIf="btnGrupo.BtnElimi"
              ><i
                class="icon-trash xxl"
                data-toggle="tooltip"
                data-placement="top"
                title="Eliminar"
              >
              </i
            ></a>
            <a class="puntero">
              <i
                class="icon-exit xxl"
                (click)="OpcionesModal('salir')"
                data-toggle="tooltip"
                data-placement="top"
                data-dismiss="modal"
                title="Salir"
              >
              </i
            ></a>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xl-12">
              <div class="row text-center">
                <div class="col-md-6">
                  <label class="form-group">Division</label>
                  <select
                    formControlName="division"
                    (change)="cargarDependencia2($event.target.value)"
                    class="form-control selectpicker show-tick"
                    name="division"
                    onchange="setCustomValidity('')"
                    oninvalid="setCustomValidity('Seleccione una division')"
                    required
                  >
                    <option
                      *ngFor="let gruac of selecDivModal"
                      [value]="gruac.id_division"
                    >
                      {{ gruac.descripcion }}</option
                    >
                  </select>
                </div>
                <div class="col-md-6" *ngIf="ocultarSelect">
                  <label class="form-group">Dependencia Division</label>
                  <select
                    formControlName="dependencia"
                    class="form-control selectpicker show-tick"
                    name="dependencia"
                  >
                    <option
                      *ngFor="let gruac of dependenciaCont003"
                      [value]="gruac.dependencia"
                    >
                      {{ gruac.descripcion }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xl-12" style="padding-top: 20px;">
              <div class="row text-center">
                <div class="col-md-1">
                  <div
                    class="form-group"
                    style="padding-left: 50px;padding-top: 20px;"
                  >
                    <input type="checkbox" class="form-check-input" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-group-float">
                    <label class="form-group-float-label">Codigo</label>
                    <input
                      style="text-align: center;"
                      type="text"
                      class="form-control"
                      placeholder="Introducir Codigo"
                      formControlName="idunidaddivision"
                      name="idunidaddivision"
                    />
                    <!-- <span class="form-text text-danger"
                      >Acepta 3 digitos o auto</span
                    > -->
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-group-float">
                    <label class="form-group-float-label">Descripcion</label>
                    <input
                      style="text-align: center;"
                      type="text"
                      class="form-control"
                      oninvalid="this.setCustomValidity('Introducir Descripcion')"
                      oninput="setCustomValidity('')"
                      placeholder="Introducir Descripcion"
                      formControlName="descripcion"
                      name="descripcion"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group form-group-float">
                    <label class="form-group-float-label">Sigla</label>
                    <input
                      style="text-align: center;"
                      type="text"
                      class="form-control"
                      oninvalid="this.setCustomValidity('Introducir Sigla')"
                      oninput="setCustomValidity('')"
                      placeholder="Introducir Sigla"
                      formControlName="sigla"
                      name="sigla"
                      required
                    />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      required="false"
                      class="custom-control-input"
                      formControlName="estado"
                      title="auxModal.estado"
                      name="estado"
                      id="auxModalestado{{ i }}"
                    />
                    <label
                      class="custom-control-label"
                      for="auxModalestado{{ i }}"
                      >Estado</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- <hr />
      <p>{{ this.forma.get("idunidaddivision").status }}</p> -->
      <hr />
      <pre>{{ forma.value | json }}</pre>
    </div>
  </div>
</div>

<div id="modal_cont_003_eliminar" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cont003</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h6 class="font-weight-semibold">
          Desea eliminar dato con codigo: {{ start.IdCod }}
        </h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn bg-primary"
          data-dismiss="modal"
          (click)="eliminarCont003(start.IdCod)"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
