<div class="card">
  <div class="card-header header-elements-inline">
    <h3 class="card-title">Bienvenido al Sistema</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-img-actions m-1">
            <img
              class="card-img img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-9">
        <div class="row">
          <div class="card">
            <div class="card-img-actions m-1">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                iusto. Porro quas adipisci sed odit eaque accusamus,
                voluptatibus cum neque!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-img-actions m-1">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                iusto. Porro quas adipisci sed odit eaque accusamus,
                voluptatibus cum neque!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, iusto.
    Porro quas adipisci sed odit eaque accusamus, voluptatibus cum neque!
  </div>
</div>
