<div class="card m-0 p-0">
  <div class="card-header header-elements-inline" style="align-self: center;">
    <h3 class="card-title text-center">ORMATE S.R.L.</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 col-lg-8 col-12">
        <div class="card">
          <div class="card-img-actions m-1">
            <img
              class="card-img img-fluid"
              src="https://trello-attachments.s3.amazonaws.com/5da8981282a2025bc17f6a21/5da89813d935d77c2ea1fc16/a43fcb28b84f8baa62676b39a7f3a940/Logo_Ormate.jpg"
              alt=""
              style="height: 16em;"
            />
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
      <!-- <div class="col-sm-6 col-lg-9">
        <div class="row">
          <div class="card">
            <div class="card-img-actions m-1">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                iusto. Porro quas adipisci sed odit eaque accusamus,
                voluptatibus cum neque!
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-img-actions m-1">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae,
                iusto. Porro quas adipisci sed odit eaque accusamus,
                voluptatibus cum neque!
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-sm-2 col-lg-2"></div>
      <div class="col-sm-8 col-lg-8 col-12">
        <div class="col-sm-10 m-auto" style="display: flex; flex-wrap: wrap;">
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2"></div>
    </div>
  </div>
</div>
<!-- Transacciones -->

<div class="card p-0 m-0">
  <div class="row m-0 p-0">
    <div class="col-sm-12" style="display: flex;">
      <div class="col-sm-4">
        <h3 class="card-title">
          <i class="icon-pencil7"></i>
          {{ data[0].titulo }}
        </h3>
      </div>
      <div class="col-sm-4">
        <div class="form-group form-group-float">
          <label class="form-group-float-label font-weight-semibold"
            >Modulo
          </label>
          <select class="form-control selectCenter">
            <!-- (change)="adm011Selectgest($event.target.value)" -->
            <option value="0">Todos</option>
            <option value="1">Contabilidad</option>
            <option value="2">Administracion</option>
            <!-- <option
              *ngFor="let item of selecDivModal; let i = index"
              [value]="item.id_modulo"
            >
              {{ item.modulo }}
            </option> -->
          </select>
        </div>
      </div>
      <div class="col-sm-4" style="align-self: flex-end;">
        <div class="form-group form-group-feedback form-group-feedback-right">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar"
            id="buscarGrupoLupa"
          />
          <!-- <div *ngIf="start.Busca" class="form-control-feedback">
          <i class="icon-spinner2 spinner"></i>
        </div> -->
          <div class="form-control-feedback">
            <label for="buscarGrupoLupa">
              <i class="icon-search4 puntero" title="buscar"></i
            ></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card p-0 m-0" *ngFor="let item of data[0].subMenu">
  <div class="row p-0 m-0">
    <h3 style="padding-left: 1em;">{{ item.titulo }}</h3>
  </div>
</div>
<div class="card m-0 p-0">
  <div class="row p-0 m-0">
    <h3 style="padding-left: 1em;">{{ item.proceso }}</h3>
  </div>
</div>
<div class="card p-0 m-0">
  <div class="row p-0 m-0">
    <div class="col-sm-1 col-lg-1"></div>
    <div class="col-sm-10 col-lg-10 col-12">
      <div class="col-sm-12 m-auto" style="display: flex; flex-wrap: wrap;">
        <div
          class="col-sm-2 col-3 m-1"
          style="display: flex;"
          *ngFor="let comp of items.componentes"
        >
          <div class="circulo">
            {{ comp.id }}
          </div>
          <div>
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">
              {{ comp.titulo }}
            </p>
          </div>
        </div>
        <!-- <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">
            RECEPCION DE ITEMS
          </p>
        </div>
        <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">
            INGRESO POR SALDO INICIAL
          </p>
        </div>
        <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">
            INGRESO POR AJUSTE DE INVENTARIO
          </p>
        </div>
        <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">EGRESO POR AJUSTE</p>
        </div>
        <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">
            INGRESO POR TRASPASO
          </p>
        </div>
        <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">
            EGRESO POR TRASPASO
          </p>
        </div>
        <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">
            SOLICITUD DE INVENTARIO
          </p>
        </div>
        <div class="col-sm-2 col-3 m-1">
          <img
            class="img-fluid"
            src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
            alt=""
            style="border-radius: 3em;"
          />
          <p class="text-center" style="padding-top: 1em;">
            RECEPCION DE ITEMS
          </p>
        </div> -->
      </div>
    </div>
    <div class="col-sm-1 col-lg-1"></div>
  </div>
</div>
<!-- <div class="card-body">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 col-lg-8 col-12">
        <div class="card">
          <div class="card-img-actions m-1">
            <img
              class="card-img img-fluid logo-height"
              src="https://trello-attachments.s3.amazonaws.com/5da8981282a2025bc17f6a21/5da89813d935d77c2ea1fc16/a43fcb28b84f8baa62676b39a7f3a940/Logo_Ormate.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-lg-2"></div>
      <div class="col-sm-8 col-lg-8 col-12">
        <div class="col-sm-10 m-auto" style="display: flex; flex-wrap: wrap;">
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
          <div class="col-sm-2 col-3 m-1">
            <img
              class="img-fluid"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 3em;"
            />
            <p class="text-center" style="padding-top: 1em;">titulo uno</p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2"></div>
    </div>
  </div> -->
