<div class="card m0 p0" style="margin-top: 0.5em;">
  <div class="card-header header-elements-inline" style="align-self: center;">
    <h3 class="card-title text-center">ORMATE S.R.L.</h3>
  </div>
  <div class="card-body p0">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 col-lg-8 col-12">
        <div class="card">
          <div class="card-img-actions m-1">
            <img
              class="card-img img-fluid logo-height"
              src="https://trello-attachments.s3.amazonaws.com/5da8981282a2025bc17f6a21/5da89813d935d77c2ea1fc16/a43fcb28b84f8baa62676b39a7f3a940/Logo_Ormate.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row p0 m0">
      <div class="col-sm-2 col-lg-2"></div>
      <div class="col-sm-8 col-lg-8 col-12 p0">
        <div
          class="col-sm-12 m-auto p0 card-pad"
          style="display: flex; flex-wrap: wrap;"
        >
          <div
            class="col-sm-2 col-4 icon-margin icon-pad"
            *ngFor="let fav of favoritos"
          >
            <span class="badge badge-pill bg-warning-400 mr-auto">9</span>
            <img
              class="img-fluid icon-width"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 6em;"
            />
            <p class="text-center m0">
              {{ fav.descripcion }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2"></div>
    </div>
  </div>
</div>
<!-- TODO: nuevo dashboard -->
<div class="card m0 p0" style="margin-top: 0.5em;">
  <div class="row m0 p0">
    <div class="col-lg-12">
      <div
        class="list-icons icon-align-center"
        style="display: flex; flex-wrap: wrap;"
      >
        <div class="col-lg-1">
          <div class="card m0 fondo-hover">
            <i
              title="visualizar"
              class="icon-file-eye icon-size-head puntero"
            ></i>
            <div class="caption card-pad-top">
              <p class="text-center icon-size-text">Título de la imagen</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="card m0 fondo-hover">
            <i
              title="visualizar"
              class="icon-file-eye icon-size-head puntero"
            ></i>
            <div class="caption card-pad-top">
              <p class="text-center icon-size-text">Título de la imagen</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="card m0 fondo-hover">
            <i
              title="visualizar"
              class="icon-file-eye icon-size-head puntero"
            ></i>
            <div class="caption card-pad-top">
              <p class="icon-size-text text-center">Título de la imagen</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="card m0 fondo-hover">
            <i
              title="visualizar"
              class="icon-file-eye icon-size-head puntero"
            ></i>
            <div class="caption card-pad-top">
              <p class="icon-size-text text-center">Título de la imagen</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="card m0 fondo-hover">
            <i
              title="visualizar"
              class="icon-file-eye icon-size-head puntero"
            ></i>
            <div class="caption card-pad-top">
              <p class="icon-size-text text-center">Título de la imagen</p>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
          <div class="card m0 fondo-hover">
            <i
              title="visualizar"
              class="icon-file-eye icon-size-head puntero"
            ></i>
            <div class="caption card-pad-top">
              <p class="icon-size-text text-center">Título de la imagen</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card-header header-elements-inline" style="align-self: center;">
    <h3 class="card-title text-center">ORMATE S.R.L.</h3>
  </div> -->
    <!-- <div class="card-body p0">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 col-lg-8 col-12">
        <div class="card">
          <div class="card-img-actions m-1">
            <img
              class="card-img img-fluid logo-height"
              src="https://trello-attachments.s3.amazonaws.com/5da8981282a2025bc17f6a21/5da89813d935d77c2ea1fc16/a43fcb28b84f8baa62676b39a7f3a940/Logo_Ormate.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row p0 m0">
      <div class="col-sm-2 col-lg-2"></div>
      <div class="col-sm-8 col-lg-8 col-12 p0">
        <div
          class="col-sm-12 m-auto p0 card-pad"
          style="display: flex; flex-wrap: wrap;"
        >
          <div
            class="col-sm-2 col-4 icon-margin icon-pad"
            *ngFor="let fav of favoritos"
          >
            <img
              class="img-fluid icon-width"
              src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
              alt=""
              style="border-radius: 6em;"
            />
            <p class="text-center m0">
              {{ fav.descripcion }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-lg-2"></div>
    </div>
  </div> -->
  </div>

  <!-- TODO: Card Principal -->
  <div class="row p0 m0 card-pad-top">
    <div class="col-lg-12">
      <div class="card card-background-gradient card-border">
        <div class="card-header header-elements-inline pad-b-0">
          <h6>
            <i class="icon-printer2 icon-module mr-2"> </i>
            Inventario
          </h6>
        </div>
        <div class="row p0 m0">
          <div class="col-lg-12">
            <div class="card-header header-elements-inline ml-4 pad-tb-0">
              <h6>
                <i class="icon-printer2 icon-module mr-2"> </i>
                Proceso Estandar
              </h6>
            </div>
            <!-- TODO:  componentes -->
            <div class="row m0 p0">
              <div class="col-lg-12">
                <div
                  class="list-icons icon-align-center"
                  style="display: flex; flex-wrap: wrap;"
                >
                  <div class="col-lg-2 col-6 p0 fondo-hover component-radius">
                    <div class="row p0 m0">
                      <div class="col-lg-12 col-12 p0">
                        <span
                          class="badge badge-pill bg-warning-400"
                          style="
                            margin-right: 1.5em;
                            margin-left: -3.5em;
                            vertical-align: top;
                            background-color: #fbfd4c;
                            color: #000;
                          "
                          >00</span
                        >
                        <div class="card m0 fondo-hover circulo">
                          <i
                            title="visualizar"
                            class="icon-file-eye icon-size-head puntero"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row"> -->
                    <div class="caption card-pad-top">
                      <p class="text-center icon-size-text">
                        Ajuste por Ingreso de Inventario
                      </p>
                      <!-- </div> -->
                    </div>
                  </div>
                  <div class="col-lg-2 col-6 p0 fondo-hover component-radius">
                    <div class="row p0 m0">
                      <div class="col-lg-12 col-12 p0">
                        <span
                          class="badge badge-pill bg-warning-400"
                          style="
                            margin-right: 1.5em;
                            margin-left: -3.5em;
                            vertical-align: top;
                            background-color: #fbfd4c;
                            color: #000;
                          "
                          >00</span
                        >
                        <div class="card m0 fondo-hover circulo">
                          <i
                            title="visualizar"
                            class="icon-file-eye icon-size-head puntero"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row"> -->
                    <div class="caption card-pad-top">
                      <p class="text-center icon-size-text">
                        Ajuste por Ingreso de Inventario
                      </p>
                      <!-- </div> -->
                    </div>
                  </div>
                  <div class="col-lg-2 col-6 p0 fondo-hover component-radius">
                    <div class="row p0 m0">
                      <div class="col-lg-12 col-12 p0">
                        <span
                          class="badge badge-pill bg-warning-400"
                          style="
                            margin-right: 1.5em;
                            margin-left: -3.5em;
                            vertical-align: top;
                            background-color: #fbfd4c;
                            color: #000;
                          "
                          >00</span
                        >
                        <div class="card m0 fondo-hover circulo">
                          <i
                            title="visualizar"
                            class="icon-file-eye icon-size-head puntero"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row"> -->
                    <div class="caption card-pad-top">
                      <p class="text-center icon-size-text">
                        Ajuste por Ingreso de Inventario
                      </p>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- TODO : end componentes -->
            <div class="row p0 m0"></div>
          </div>
        </div>
        <!-- <hr /> -->
        <!-- TODO: SEGUNDO COMPONENTE -->
        <div class="row p0 m0">
          <div class="col-lg-12">
            <div class="card-header header-elements-inline ml-4 pad-tb-0">
              <h6>
                <i class="icon-printer2 icon-module mr-2"> </i>
                Proceso Traspaso
              </h6>
            </div>
            <!-- TODO:  componentes -->
            <div class="row m0 p0">
              <div class="col-lg-12">
                <div
                  class="list-icons icon-align-center"
                  style="display: flex; flex-wrap: wrap;"
                >
                  <div class="col-lg-2 col-6 p0 fondo-hover component-radius">
                    <div class="row p0 m0">
                      <div class="col-lg-12 col-12 p0">
                        <span
                          class="badge badge-pill bg-warning-400"
                          style="
                            margin-right: 1.5em;
                            margin-left: -3.5em;
                            vertical-align: top;
                            background-color: #fbfd4c;
                            color: #000;
                          "
                          >00</span
                        >
                        <div class="card m0 fondo-hover circulo">
                          <i
                            title="visualizar"
                            class="icon-file-eye icon-size-head puntero"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row"> -->
                    <div class="caption card-pad-top">
                      <p class="text-center icon-size-text">
                        Ajuste por Ingreso de Inventario
                      </p>
                      <!-- </div> -->
                    </div>
                  </div>
                  <div class="col-lg-2 col-6 p0 fondo-hover component-radius">
                    <div class="row p0 m0">
                      <div class="col-lg-12 col-12 p0">
                        <span
                          class="badge badge-pill bg-warning-400"
                          style="
                            margin-right: 1.5em;
                            margin-left: -3.5em;
                            vertical-align: top;
                            background-color: #fbfd4c;
                            color: #000;
                          "
                          >00</span
                        >
                        <div class="card m0 fondo-hover circulo">
                          <i
                            title="visualizar"
                            class="icon-file-eye icon-size-head puntero"
                          ></i>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row"> -->
                    <div class="caption card-pad-top">
                      <p class="text-center icon-size-text">
                        Ajuste por Ingreso de Inventario
                      </p>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- TODO : end componentes -->
            <div class="row p0 m0"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
