/**personalizando switch*/
/* --------switch desabilitado------- */
.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #808080;
}

.custom-switch .custom-control-label::after {
  background-color: #fff;
}

.custom-control-label::before {
  background-color: #808080;
}

/* --------switch habilitado------- */
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #03a9f4;
}

/**disabled swtich*/
.custom-control-input:disabled ~ .custom-control-label:before {
  opacity: 0.5;
}

/**label flotanbte*/
.text-label {
  width: 100%;
  color: white;
  background-color: #03a9f3;
}

/**COLOCAR MODAL EN MANERA GLOBAL*/
.table-hover {
  background-color: rgba(5, 161, 233, 0.3);
}
