<!-- User menu -->
<div class="sidebar-user-material">
  <div
    class="sidebar-user-material-body"
    style="background-image:url(../assets/global_assets/images/backgrounds/user_bg4.jpg); background-size: cover;"
  >
    <div class="card-body text-center">
      <a href="#">
        <img
          src="{{ imagen | imagenpipe }}"
          class="img-fluid rounded-circle shadow-1 mb-3"
          width="80"
          height="80"
          alt=""
        />
      </a>
      <h6 class="mb-0 text-white text-shadow-dark">
        <i *ngIf="wsService.socketStatus" class="icon-primitive-dot verde"></i>
        <i *ngIf="!wsService.socketStatus" class="icon-primitive-dot rojo"></i
        >{{ nombre }}
      </h6>
      <span class="font-size-sm text-white text-shadow-dark">
        {{ email | emailpipe }}</span
      >
    </div>
    <div class="col-md-12">
      <input
        style="padding-left: 25px;"
        class="form-control text-white"
        type="text"
        placeholder="Buscar"
        (keyup)="buscarComponente(buscarTexto.value)"
        #buscarTexto
      />
      <div class="form-control-feedback" style="color:white">
        <i class="icon-search4"></i>
      </div>
    </div>

    <div class="sidebar-user-material-footer">
      <a
        href="#user-nav"
        class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle"
        data-toggle="collapse"
        ><span>Mis favoritos</span></a
      >
    </div>
  </div>

  <div class="collapse" id="user-nav">
    <ul class="nav nav-sidebar">
      <ng-container *ngFor="let fto of favoritos">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i
              class="icon-close2 rojo"
              (click)="eliminarFavorito(fto.admncori)"
            ></i>
            <span>{{ fto.admndesc }}</span>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
<!-- /user menu -->

<!-- Main navigation -->
<div class="card card-sidebar-mobile">
  <ul class="nav nav-sidebar" data-nav-type="accordion">
    <li class="nav-item-header">
      <div class="text-uppercase font-size-xs line-height-xs">
        Menu Principal
      </div>
      <i class="icon-menu" title="Main"></i>
    </li>
    <li class="nav-item-divider"></li>
    <div *ngIf="cargandoMenu" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ng-container *ngFor="let menu of datos">
      <li class="nav-item nav-item-submenu animaciones haciadentro">
        <a href="#" class="nav-link"
          ><i class="icon-stack"></i> <span>{{ menu.titulo }}</span></a
        >
        <ul class="nav nav-group-sub" data-submenu-title="Starter kit">
          <ng-container *ngFor="let submenu of menu.subMenu">
            <li class="nav-item nav-item-submenu">
              <a href="#" class="nav-link">{{ submenu.titulo }}</a>
              <ul class="nav nav-group-sub">
                <ng-container *ngFor="let component of submenu.componentes">
                  <li class="nav-item">
                    <!-- (click)="menuComponent(menu.titulo)" -->
                    <!-- routerLink="/md/Mod-Administracion/adm_003" -->
                    <!-- routerLink="/md/{{ menu.ruta }}/adm_003" -->
                    <!-- (click)="menuComponent(component)" -->
                    <!-- routerLink="/md/{{menu.titulo}}""/Mod-Administracion/adm_003" -->
                    <a
                      routerLink="/md/{{ menu.ruta }}/{{ component.ruta }}"
                      class="nav-link puntero"
                      >{{ component.titulo }}
                      <span
                        class="badge bg-blue-400 align-self-center ml-auto"
                        (click)="agregarFavorito(component.id)"
                        >+</span
                      >
                    </a>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
<!-- /main navigation -->
