.p0{
    padding: 0em;
}
.m0{
    margin: 0em;
}
.selectCenter{
    text-align-last: center;
}
.title-icon{
    font-size: 2em;
}
.align-vertical-icon-0{
    vertical-align: 0em;
}

.card-padding{
    padding-left: 1em;
    padding-right: 1em;
}

.mt0{
    margin-top: 0em;
}

@media screen and (max-width: 600px) {
    .title-icon{
        font-size: 1.8em;
    }
    .title {
        font-size: smaller;
    }
  
}
