.p0{
    padding-top: 0px;
    padding-bottom: 0px;
}
.m0{
    margin-top: 0px;
    margin-bottom: 0px;
}

.title-icon{
    font-size: 2em;
}
.align-vertical-icon-0{
    vertical-align: 0em;
}

@media screen and (max-width: 600px) {
    .title-icon{
        font-size: 1.8em;
    }
  
  }
