.card-body {
  padding-bottom: 0em;
}
/* modal */
.modal-header {
  padding: 0.5rem;
}
.modal-header {
  position: relative;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.modal-body {
  padding-bottom: 0px;
}

/*separador h*/
.separadorh {
  border: none;
  height: 1px;
  color: #333;
  background-color: rgb(144, 145, 146);
  margin-bottom: 7px;
}
/**label flotanbte*/

.form-group-float-label.is-visible {
  top: 0;
  opacity: 0.5;
}

label {
  margin-bottom: 0rem;
}

.form-control:disabled {
  color: #381001;
}

.custom-control-label::before {
  border: none;
}

/**personalizando switch*/
/* --------switch desabilitado------- */
.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #808080;
}

.custom-switch .custom-control-label::after {
  background-color: #fff;
}

.custom-control-label::before {
  background-color: #808080;
}

/* --------switch habilitado------- */
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #03a9f4;
}

/**disabled swtich*/
.custom-control-input:disabled ~ .custom-control-label:before {
  opacity: 0.5;
}
/**--------------------YIMI---------------------------------*/
.xxl {
  font-size: 2em;
  padding-right: 0.5em;
}

.xxl:hover {
  color: rgba(178, 203, 211, 0.918);
}
@media screen and (max-width: 600px) {
  .xxl {
    font-size: 1.5em;
  }
}

/** ESTILOS PARA TABLA, COLOCAL DE MANERA GLOBAL*/
.table td,
.table th {
  padding-top: 0%;
  padding-bottom: 0%;
}
.PRL0 {
  padding-left: 0;
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0.5em;
}

/*activo*/
.gris {
  color: #808080;
}

.verde {
  color: rgb(12, 197, 36);
}

.azul {
  color: #03a9f4;
}
