<body class="animaciones haciadentro">
  <!-- Page content -->
  <div class="container page-content animaciones haciadentro">
    <!-- Main content -->
    <div class="content-wrapper">
      <div class="content d-flex justify-content-center align-items-center  ">
        <!-- Login card -->
        <form
          class="login-form"
          ngNativeValidate
          autocomplete="off"
          (ngSubmit)="ingresar(f)"
          #f="ngForm"
        >
          <div class="card mb-0">
            <div class="card-body">
              <div class="text-center mb-3">
                <i
                  class="icon-people icon-2x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"
                ></i>
                <h5 class="mb-0">Ingrese a su cuenta</h5>
                <span class="d-block text-muted"
                  >Introduzca sus credenciales</span
                >
              </div>
              <div class="form-group">
                <select
                  *ngIf="!isMobile"
                  required
                  title="Seleccione una base de datos"
                  class="form-control selectpicker show-tick"
                  [(ngModel)]="usuario.databaseid"
                  name="databaseid"
                >
                  <option *ngFor="let db of databases" [value]="db.id"
                    >{{ db.id }} - {{ db.nombre }}</option
                  >
                </select>
                <select
                  *ngIf="isMobile"
                  required
                  [(ngModel)]="usuario.databaseid"
                  name="databaseid"
                  class="form-control"
                >
                  <option disabled selected value=""
                    >Seleccione una base de datos</option
                  >
                  <option *ngFor="let db of databases" [value]="db.id"
                    >{{ db.id }} - {{ db.nombre }}</option
                  >
                </select>
                <!-- <select
                  [(ngModel)]="usuario.databaseid"
                  name="databaseid"
                  required
                  class="form-control puntero"
                >
                  <option value="" disabled selected>
                    Selecciona una base de datos</option
                  >
                  <ng-container *ngFor="let db of databases">
                    <option [value]="db.id"> {{ db.nombre }}</option>
                  </ng-container>
                </select> -->
              </div>
              <!-- <select
                [(ngModel)]="usuario.databaseid"
                name="databaseid"
                required
                class="form-control puntero"
              >
                <option value="" disabled selected>
                  Selecciona una base de datos</option
                >
                <ng-container *ngFor="let db of databases">
                  <option [value]="db.id"> {{ db.nombre }}</option>
                </ng-container>
              </select> -->

              <!-- <select
                [(ngModel)]="usuario.databaseid"
                class="form-control select"
                name="databaseid"
                #t
                (change)="cargarLista(t.value)"
                required
              >
                <option *ngFor="let db of databases" [value]="db.id">
                  {{ db.nombre }}</option
                >
              </select> -->
              <div
                class="form-group form-group-feedback form-group-feedback-left"
              >
                <!-- <select
                  data-placeholder="Selecciona una base de datos"
                  class="form-control select"
                  data-fouc
                  [(ngModel)]="usuario.databaseid"
                  name="databaseid"
                  required
                >
                  <option value="" selected disabled
                    >Selecciona una base de datos</option
                  >
                  <option
                    *ngFor="let db of databases"
                    data-icon="database"
                    [value]="db.id"
                  >
                    {{ db.nombre }}</option
                  >
                </select> -->
                <!-- <mat-form-field style="width:100%;" on-focusout="seleccione()">
                  <mat-label> Selecciona una base de datos</mat-label>
                  <span matPrefix class="px-1">
                    <i class="icon-cloud text-muted"></i>
                  </span>
                  <mat-select
                    [(ngModel)]="usuario.databaseid"
                    required
                    name="databaseid"
                  >
                    <mat-option
                      *ngFor="let database of databases"
                      [value]="database.id"
                    >
                      {{ database.nombre }}</mat-option
                    >
                  </mat-select>
                </mat-form-field> -->
              </div>
              <div
                class="form-group form-group-feedback form-group-feedback-left"
              >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Usuario"
                  required
                  [(ngModel)]="usuario.cod_user"
                  name="cod_user"
                  on-focusout="estaRegistrado()"
                />
                <div class="form-control-feedback">
                  <i class="icon-user text-muted"></i>
                </div>
              </div>
              <!-- <input name="date" formControlName="cod_user" type="text" on-focus="focusFunction()" on-focusout="focusOutFunction()"> -->
              <div
                class="form-group form-group-feedback form-group-feedback-left"
              >
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  required
                  [(ngModel)]="usuario.passw"
                  name="passw"
                />
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muted"></i>
                </div>
              </div>
              <div
                *ngIf="passw2"
                class="form-group form-group-feedback form-group-feedback-left"
              >
                <input
                  type="password"
                  class="form-control"
                  placeholder="Repetir contraseña"
                  required
                  [(ngModel)]="usuario.passs"
                  [disabled]="desabiliContra"
                  name="passw2"
                />
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muted"></i>
                </div>
              </div>

              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  id="regContra"
                  [disabled]="loading"
                  *ngIf="!ingresarContra"
                >
                  <i
                    *ngIf="loading"
                    class="icon-spinner spinner position-left"
                  ></i>
                  {{ btnIngre }}
                  <i
                    *ngIf="!loading"
                    class="icon-circle-right2 position-right"
                  ></i>
                </button>
                <button
                  *ngIf="ingresarContra"
                  type="submit"
                  [disabled]="loadingReg"
                  class="btn btn-info btn-sm  btn-block"
                  id="ingresarContra"
                >
                  <i
                    *ngIf="loadingReg"
                    class="icon-spinner spinner position-left"
                  ></i>
                  {{ btnRegis }}
                  <i
                    *ngIf="!loadingReg"
                    class="icon-circle-right2 position-right"
                  ></i>
                </button>
              </div>

              <span class="form-text text-center text-muted"
                >Al continuar, confirma que ha leido nuestro
                <a href="#">Terminos &amp; Condiciones</a> y
                <a href="#">Politicas de Cookies</a>
                <strong> SAGE-SOFT</strong></span
              >
            </div>
          </div>
        </form>
        <!-- /login card -->
      </div>
    </div>
  </div>
</body>
