body {
  background-image: url(https://res.cloudinary.com/dcpqyors4/image/upload/v1575900826/fondoLogin_lub8gs.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
