<div class="row haciadentro animaciones height-container">
    <div class="col-xl-12 height-container">
      <!-- card principal -->
        <div class="card card-padding m0 height-container">
            <!-- secction titulo -->
            <div class="header-elements-inline padding-title">
                <h5 class="card-title  title-head font-tittle m0">
                    <i class="icon-cog title-icon align-vertical-icon-0"></i>
                    Parametros Iniciales de Contabilidad
                </h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item"  *ngIf="!editar" (click)="ModoEdicion()"
                            [routerLink]="nada()" routerLinkActive="router-link-active">
                            <i class="icon-pencil7 title-icon" data-toggle="tooltip" data-placement="top" title="Editar"> </i>
                        </a>
                        <a class="list-icons-item"  *ngIf="editar" (click) = "Actualizar()"
                            [routerLink]="nada()" routerLinkActive="router-link-active" >
                            <i class="icon-floppy-disk title-icon" data-toggle="tooltip" data-placement="top" title="Actualizar"> </i>
                        </a>
                        <a class="list-icons-item" 
                            [routerLink]="nada()" *ngIf="editar" routerLinkActive="router-link-active" (click) = "ModoVista()">
                            <i class="icon-exit title-icon " data-toggle="tooltip" data-placement="top" title="Salir"> </i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- primer card -->
            <div class="row p0 m0">
                <div class="col-sm-2 col-12">
                    <div class="card card-padding margin-botton-card ">
                        <img src="https://thumbs.dreamstime.com/b/icono-del-usuario-46707697.jpg" 
                            alt="imagen no encontrada" class="img-responsive rounded img-fluid"
                            style="height: 116px;width: 100px; align-self: center;">
                    </div>
                </div>
                <div class="col-sm-10 col-12">
                    <div class="card card-padding margin-botton-card ">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group form-group-feedback m0">
                                    <div class="row text-center m0">
                                        <i class="icon-clipboard5 icon-head"> </i>
                                        <div class="col-sm-6 col-5 form-group form-group-float m0">
                                            <label class="form-group-float-label m0 p0">Nombre </label>
                                            <input type="text" class="form-control text-center p0 alturaInputs" placeholder="Nombre" 
                                                value="Ormate" disabled >
                                        </div>
                                        <div class="col-sm-5 col-5 form-group form-group-float m0">
                                            <label class="form-group-float-label m0 p0">Sigla </label>
                                            <input type="text" class="form-control text-center p0 alturaInputs" placeholder="sigla" 
                                                value="Ormate Srl" disabled >
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                            <div class="row text-center m0">
                                                <div class="col-sm-1 col-0"></div>
                                                <div class="col-sm-6 col-7 form-group form-group-float m0">
                                                    <label class="form-group-float-label m0 p0" > Actividad de la Empresa</label>
                                                        <select class="form-control p0 selectCenter alturaInputs" 
                                                                    name="gestionSelect">
                                                        <!-- [(ngModel)]="idGestion" (change)="CargarParametrosPorGestion()" -->
                                                            <option value="1">Comercial</option>
                                                            <option value="2">Industrial</option>
                                                            <option value="3">Contable</option>
                                                        <!-- *ngFor="let contents of item.content"
                                                                [value]="contents.adgtideg"> {{contents.adgtideg}} -->
                                                        </select> 
                                                </div>
                                                <div class="col-sm-5 col-5 form-group form-group-float m0">
                                                    <label class="form-group-float-label m0 p0">Nit </label>
                                                    <input type="text" class="form-control text-center p0 alturaInputs" placeholder="Nit" 
                                                            value="123456789"   >
                                                </div>  
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- segundo card -->
            <div class="row p0 m0">
                <div class="col-sm-12">
                    <div class="card card-padding margin-botton-card " style="padding-bottom: 0.5em;">
                        <div class="header-elements-inline padding-title plr0">
                            <h5 class="card-title  title-head font-tittle m0">
                                <i class="icon-location4 title-icon align-vertical-icon-0 mr-2"></i>
                                Estructura Plan de Cuentas
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item"
                                        [routerLink]="nada()" routerLinkActive="router-link-active">
                                        <i class="icon-plus22 title-icon" data-toggle="tooltip" data-placement="top" title="Agregar Direccion"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row p0 m0">
                            <div class="col-sm-8">
                                
                                <div class="col-sm-12 col-12" *ngIf="estructuraPlanDeCuentas!=undefined">
                                    <div class="form-group row mb0">
                                        <label class="col-form-label col-lg-3 col-3 text-center">Nombre</label>
                                        <label class="col-form-label col-lg-3 col-3 text-center">Largo</label>
                                        <label class="col-form-label col-lg-3 col-3 text-center">Separador</label>
                                    </div>
                                    <div class="form-group row mb0" *ngFor="let ed of estructuraPlanDeCuentas ; let i = index">
                                        <div class="col-sm-4 col-6">     
                                            <input type="text" [(ngModel)]="ed.nombre" [value]="ed.nombre" required [disabled]="editar" class="form-control">
                                        </div>
                                        <div class="col-sm-4 col-6">
                                            <input type="text" class="form-control" [(ngModel)]="ed.largo" [value] = "ed.largo" [disabled] = "editar" >
                                           
                                        </div>
                                        <div class="col-sm-4 col-6">
                                            <input type="text" class="form-control" ng [(ngModel)]="ed.separador" [value]="ed.separador" [disabled] = "editar">
                                        </div>
                                    </div>
                                 </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-12 col-6" *ngIf="ultimoElemento != undefined">
                                    <label class="custom-control-label form-control">{{ultimoElemento.nombre}}</label>
                                    <input type="text" class="form-control" [(ngModel)]="ultimoElemento.largo" [value]="ultimoElemento.largo">
                             </div>
                            </div>

                         </div>
                        </div>
                </div>
            </div>
            <!-- tercer card -->
            <div class="row p0 m0">
                <div class="col-sm-12">
                    <div class="card card-padding margin-botton-card " style="padding-bottom: 0.5em;">
                        <div class="header-elements-inline padding-title plr0">
                            <h5 class="card-title  title-head font-tittle m0">
                                <i class="icon-phone-wave title-icon align-vertical-icon-0 mr-2"></i>
                                    Naturalezas
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item" 
                                        [routerLink]="nada()" routerLinkActive="router-link-active">
                                        <i class="icon-plus22 title-icon" data-toggle="tooltip" data-placement="top" title="Agregar Direccion"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row p0 m0">
                            <div class="col-sm-3 col-0"></div>
                            <div class="col-sm-6 col-12">
                                <div class="form-group row mb0">
                                    <label class="col-form-label col-lg-6 col-6 text-center">Codigo</label>
                                    <label class="col-form-label col-lg-6 col-6 text-center">Naturaleza</label>
                                </div>
                                <div class="form-group row mb0">
                                    <div class="col-lg-6 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >1010101010</option>
                                            <option  value="2" >0101010101</option>
                                            <option  value="3" >0100110011</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >Activo</option>
                                            <option  value="2" >Pasivo</option>
                                            <option  value="3" >Patrimonio</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >1010101010</option>
                                            <option  value="2" >0101010101</option>
                                            <option  value="3" >0100110011</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >Activo</option>
                                            <option  value="2" >Pasivo</option>
                                            <option  value="3" >Patrimonio</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >1010101010</option>
                                            <option  value="2" >0101010101</option>
                                            <option  value="3" >0100110011</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >Activo</option>
                                            <option  value="2" >Pasivo</option>
                                            <option  value="3" >Patrimonio</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3 col-0"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  cuarto card -->
            <div class="row p0 m0">
                <div class="col-sm-12">
                    <div class="card card-padding margin-botton-card " style="padding-bottom: 0.5em;">
                        <div class="header-elements-inline padding-title plr0">
                            <h5 class="card-title  title-head font-tittle m0">
                                <i class="icon-cogs title-icon align-vertical-icon-0 mr-2"></i>
                                Cuentas 
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a class="list-icons-item"  
                                         > 
                                        <i class="icon-arrow-down12" data-toggle="tooltip" data-placement="top" title="Ocultar" ></i> 
                                    </a>
                                    <a class="list-icons-item"  
                                       > 
                                        <i class="icon-arrow-up12" data-toggle="tooltip" data-placement="top" title="Mostrar"></i> 
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row p0 m0">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <div class="form-group row mb0">
                                    <label class="col-form-label col-lg-4 col-6">Cuenta Resultado de Gestion</label>
                                    <div class="col-lg-8 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >1010101010</option>
                                            <option  value="2" >0101010101</option>
                                            <option  value="3" >0100110011</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="row p0 m0">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <div class="form-group row mb0">
                                    <label class="col-form-label col-lg-4 col-6">Cuenta de Resultado Acumulado</label>
                                    <div class="col-lg-8 col-6">
                                        <select class="form-control p0 selectCenter alturaInputs">
                                            <option  value="1" >1010101010</option>
                                            <option  value="2" >0101010101</option>
                                            <option  value="3" >0100110011</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
