<div class="row haciadentro animaciones height-container">
  <div class="col-xl-12 height-container">
    <!-- card principal -->
    <div class="card card-padding m0 height-container">
      <!-- secction titulo -->
      <div class="header-elements-inline padding-title">
        <h5 class="card-title  title-head font-tittle m0">
          <i class="icon-cog title-icon align-vertical-icon-0"></i>
          Parametros Iniciales de Contabilidad
        </h5>
        <div class="header-elements">
          <div class="list-icons">
            <a
              class="list-icons-item"
              *ngIf="!editar"
              (click)="ModoEdicion()"
              [routerLink]="nada()"
              routerLinkActive="router-link-active"
            >
              <i
                class="icon-pencil7 title-icon"
                data-toggle="tooltip"
                data-placement="top"
                title="Editar"
              >
              </i>
            </a>
            <a
              class="list-icons-item"
              *ngIf="editar"
              (click)="Guardar()"
              [routerLink]="nada()"
              routerLinkActive="router-link-active"
            >
              <i
                class="icon-floppy-disk title-icon"
                data-toggle="tooltip"
                data-placement="top"
                title="Guardar"
              >
              </i>
            </a>
            <a
              class="list-icons-item"
              [routerLink]="nada()"
              *ngIf="editar"
              routerLinkActive="router-link-active"
              (click)="ModoVista('salir')"
            >
              <i
                class="icon-exit title-icon "
                data-toggle="tooltip"
                data-placement="top"
                title="Salir"
              >
              </i>
            </a>
          </div>
        </div>
      </div>
      <!-- primer card -->
      <div class="row p0 m0">
        <div class="col-sm-2 col-12" *ngIf="lista != undefined">
          <div
            class="card margin-botton-card img-position "
            style="align-items: center;"
          >
            <img
              [src]="lista[0].logo_empresa || 'assets/subir_img.png'"
              class="img-fluid rounded puntero img-width"
              alt="No existe imagen, seleccione una imagen"
              style="height: 116px; padding: 0.5em;"
            />
          </div>
        </div>
        <div class="col-sm-10 col-12 m0 p0">
          <div class="card card-padding margin-botton-card ">
            <div class="row">
              <div class="col-sm-12">
                <div
                  class="form-group form-group-feedback m0"
                  *ngIf="lista != undefined"
                >
                  <div class="row text-center m0">
                    <i class="icon-clipboard5 icon-head"> </i>
                    <div
                      class="col-sm-6 col-5 form-group form-group-float m0"
                      *ngIf="lista[0] != undefined"
                    >
                      <label class="form-group-float-label m0 p0">Nombre</label>
                      <input
                        type="text"
                        class="form-control text-center p0 alturaInputs"
                        placeholder="Razon Social"
                        [value]="lista[0].razon_social"
                        [(ngModel)]="lista[0].razon_social"
                        disabled
                      />
                    </div>
                    <div class="col-sm-5 col-5 form-group form-group-float m0">
                      <label class="form-group-float-label m0 p0">Sigla</label>
                      <input
                        type="text"
                        class="form-control text-center p0 alturaInputs"
                        placeholder="sigla"
                        [value]="lista[0].sigla"
                        [(ngModel)]="lista[0].sigla"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="row text-center m0">
                      <div class="col-sm-1 col-0"></div>
                      <div
                        class="col-sm-6 col-7 form-group form-group-float m0"
                      >
                        <label class="form-group-float-label m0 p0"
                          >Actividad de la Empresa</label
                        >
                        <select
                          class="form-control p0 selectCenter alturaInputs"
                          disabled
                          [(ngModel)]="idActividad"
                          name="actividadSelect"
                        >
                          <option
                            [value]="actividad.id_actividad_empresarial"
                            *ngFor="let actividad of actividadEmpresarial"
                          >
                            {{ actividad.actividad_empresa }}
                          </option>
                        </select>
                      </div>
                      <div
                        class="col-sm-5 col-5 form-group form-group-float m0"
                      >
                        <label class="form-group-float-label m0 p0"
                          >Gestion</label
                        >
                        <select
                          class="form-control p0 selectCenter alturaInputs"
                          (change)="ObtenerDatos()"
                          [(ngModel)]="idGestion"
                          name="gestionSelect"
                        >
                          <option
                            [value]="gestion.gestion"
                            *ngFor="let gestion of gestiones"
                          >
                            {{ gestion.gestion }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- segundo card -->
      <div class="row p0 m0">
        <div class="col-sm-12 m0 p0">
          <div
            class="card card-padding margin-botton-card "
            style="padding-bottom: 0.5em;"
          >
            <div class="header-elements-inline padding-title plr0">
              <h5 class="card-title  title-head font-tittle m0">
                <i
                  class="icon-location4 title-icon align-vertical-icon-0 mr-2"
                ></i>
                Estructura Plan de Cuentas
              </h5>
              <div class="header-elements">
                <div class="list-icons">
                  <a
                    class="list-icons-item"
                    *ngIf="editar"
                    (click)="AgregarPlanDeCuentas()"
                    [routerLink]="nada()"
                    routerLinkActive="router-link-active"
                  >
                    <i
                      class="icon-plus22 title-icon"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Agregar Plan de Cuentas"
                    >
                    </i>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p0 m0">
              <div class="col-sm-8">
                <div
                  class="col-sm-12 col-12 m0 p0"
                  *ngIf="estructuraPlanDeCuentas != undefined"
                >
                  <div class="form-group row mb0">
                    <label class="col-form-label col-sm-3 col-5 text-center"
                      >Nombre</label
                    >
                    <label class="col-form-label col-sm-3 col-3 text-center"
                      >Largo</label
                    >
                    <label class="col-form-label col-sm-3 col-4 text-center"
                      >Separador</label
                    >
                    <label
                      class="col-form-label col-sm-3 col-0 text-center"
                    ></label>
                  </div>
                  <div
                    class="form-group row mb0"
                    *ngFor="let ed of estructuraPlanDeCuentas; let i = index"
                  >
                    <div class="col-sm-3 col-5">
                      <input
                        type="text"
                        [(ngModel)]="ed.nombre"
                        [value]="ed.nombre"
                        required
                        [disabled]="!editar || i == 0"
                        class="form-control"
                      />
                    </div>
                    <div class="col-sm-3 col-3">
                      <input
                        type="text"
                        class="form-control text-center"
                        (blur)="CalcularLargo()"
                        [(ngModel)]="ed.largo"
                        [value]="ed.largo"
                        [disabled]="!editar || i == 0"
                      />
                    </div>
                    <div class="col-sm-3 col-2">
                      <input
                        type="text"
                        class="form-control text-center"
                        [(ngModel)]="ed.separador"
                        [value]="ed.separador"
                        [disabled]="!editar || i == 0"
                      />
                    </div>
                    <div
                      class="col-sm-3 col-2 p0"
                      style="align-self: center; display: flex;"
                      *ngIf="editar"
                    >
                      <a
                        class="list-icons-item"
                        *ngIf="i == tope - 1 && i > 0 && ed.id_estructura != 0"
                        [routerLink]="nada()"
                        routerLinkActive="router-link-active"
                        (click)="EliminarPlanDeCuenta(ed.id_estructura)"
                      >
                        <i
                          class="icon-cancel-circle2 colorDelete "
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Eliminar"
                        >
                        </i>
                      </a>
                    </div>
                  </div>
                </div>
                <p>
                  * Solo Puede crear un maximo de 6 tipos de estructuras de plan
                  de cuenta
                </p>
              </div>
              <div class="col-sm-4 col-12">
                <div
                  class="form-group row m0 p0"
                  *ngIf="ultimoElemento != undefined"
                >
                  <label class="col-lg-8 col-8 col-form-label"
                    >{{ ultimoElemento.nombre }}:</label
                  >
                  <div class="col-lg-4 col-4">
                    <input
                      type="text"
                      class="form-control text-center"
                      [(ngModel)]="ultimoElemento.largo"
                      [value]="ultimoElemento.largo"
                      [disabled]="!editar"
                    />
                  </div>
                </div>
                <!-- <pre>{{estructuraPlanDeCuentas | json}}</pre> -->
              </div>
            </div>
            <!-- new estructura -->
            <div class="row p0 m0" *ngIf="agregar">
              <p>
                * Solo Puede crear un maximo de 6 tipos de estructuras de plan
                de cuenta
              </p>
            </div>
            <!-- end new Ed -->
          </div>
        </div>
      </div>
      <!-- tercer card -->
      <div class="row p0 m0">
        <div class="col-sm-12 m0 p0">
          <div
            class="card card-padding margin-botton-card "
            style="padding-bottom: 0.5em;"
          >
            <div class="header-elements-inline padding-title plr0">
              <h5 class="card-title  title-head font-tittle m0">
                <i
                  class="icon-phone-wave title-icon align-vertical-icon-0 mr-2"
                ></i>
                Naturalezas
              </h5>
              <div class="header-elements">
                <div class="list-icons">
                  <a
                    class="list-icons-item"
                    *ngIf="editar"
                    (click)="AgregarNaturaleza()"
                    [routerLink]="nada()"
                    routerLinkActive="router-link-active"
                  >
                    <i
                      class="icon-plus22 title-icon"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Agregar Naturaleza"
                    ></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="row p0 m0">
              <div class="col-sm-3 col-0"></div>
              <div class="col-sm-6 col-12">
                <div class="form-group row mb0">
                  <label class="col-form-label col-sm-4 col-6 text-center"
                    >Codigo</label
                  >
                  <label class="col-form-label col-sm-4 col-6 text-center"
                    >Naturaleza</label
                  >
                  <label
                    class="col-form-label col-sm-4 col-0 text-center"
                  ></label>
                </div>
                <div
                  class="form-group row mb0"
                  *ngFor="let naturaleza of Listnaturalezas; let i = index"
                >
                  <div class="col-sm-5 col-5">
                    <select
                      class="form-control p0 selectCenter alturaInputs"
                      [(ngModel)]="naturaleza.id_codigo"
                      [disabled]="!editar"
                    >
                      <option
                        [value]="codNaturaleza.id_codigo"
                        *ngFor="let codNaturaleza of allCodigosNaturalezas"
                      >
                        {{ codNaturaleza.codigo }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-5 col-5">
                    <select
                      class="form-control p0 selectCenter alturaInputs"
                      [(ngModel)]="naturaleza.id_naturaleza"
                      [disabled]="!editar"
                    >
                      <option
                        [value]="oneNaturaleza.id_naturaleza"
                        *ngFor="let oneNaturaleza of allNaturalezas"
                      >
                        {{ oneNaturaleza.naturaleza }}
                      </option>
                    </select>
                  </div>
                  <div class="col-sm-2 col-2" *ngIf="editar">
                    <a
                      class="list-icons-item"
                      *ngIf="i == topeNaturaleza - 1"
                      [routerLink]="nada()"
                      routerLinkActive="router-link-active"
                      (click)="EliminarNaturaleza(naturaleza.id_codigo)"
                    >
                      <i
                        class="icon-cancel-circle2 colorDelete"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Eliminar"
                      ></i>
                    </a>
                  </div>
                </div>
                <!-- <pre>{{Listnaturalezas | json}}</pre> -->
              </div>
              <div class="col-sm-3 col-0"></div>
            </div>
          </div>
        </div>
      </div>
      <!--  cuarto card -->
      <div class="row p0 m0">
        <div class="col-sm-12 p0 m0">
          <div
            class="card card-padding margin-botton-card "
            style="padding-bottom: 0.5em;"
          >
            <div class="header-elements-inline padding-title plr0">
              <h5 class="card-title  title-head font-tittle m0">
                <i class="icon-cogs title-icon align-vertical-icon-0 mr-2"></i>
                Cuentas
              </h5>
              <div class="header-elements">
                <div class="list-icons">
                  <!-- <a class="list-icons-item"> 
                                        <i class="icon-arrow-down12" data-toggle="tooltip" data-placement="top" title="Ocultar" ></i> 
                                    </a>
                                    <a class="list-icons-item"> 
                                        <i class="icon-arrow-up12" data-toggle="tooltip" data-placement="top" title="Mostrar"></i> 
                                    </a> -->
                </div>
              </div>
            </div>
            <div class="row p0 m0" *ngFor="let cuenta of cuentas">
              <div class="col-sm-2"></div>
              <div class="col-sm-6">
                <div class="form-group row mb0">
                  <label class="col-form-label col-sm-8 col-8">{{
                    cuenta.nombre
                  }}</label>
                  <div class="col-sm-4 col-4">
                    <input
                      type="text"
                      [(ngModel)]="cuenta.codigo"
                      value="cuenta.codigo"
                      class="form-control text-center"
                      [disabled]="true"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
