.pTB0{
    padding-top: 0;
    padding-bottom: 0;
}
.m0{
    margin: 0;
}
.p0{
    padding: 0;
}
.mLR0{
    margin-left: 0em;
    margin-left: 0em;
    padding-left: 0em;
    padding-right: 0em;
}

.PLR0-1em{
    padding-left: 0.1em;
    padding-right: 0.1em;
}

@media screen and (max-width: 600px) {

    .tamTitleH2{
        font-size: large;
    }
}