<div class="card fondo-card p0 m0" style="margin-top: 0.5em;">
  <div class="row m0 p0" style="border-style: groove;">
    <div class="col-sm-12" style="display: flex; flex-wrap: wrap;">
      <div class="col-sm-4 col-12">
        <h2 class="card-title">
          <i class="icon-pencil7 icon-size"></i>
          {{ titulo }}
        </h2>
      </div>
      <div class="col-sm-4 col-6">
        <div class="form-group form-group-float text-center">
          <label
            class="form-group-float-label font-weight-semibold"
            style="opacity: 1;"
            >Modulo
          </label>
          <select class="form-control selectCenter">
            <option value="0">Todos</option>
            <option value="1">Contabilidad</option>
            <option value="2">Administracion</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4 col-6" style="align-self: flex-end;">
        <div class="form-group form-group-feedback form-group-feedback-right">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar"
            id="buscarGrupoLupa"
          />
          <div class="form-control-feedback">
            <label for="buscarGrupoLupa">
              <i class="icon-search4 puntero" title="buscar"></i
            ></label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card p0 m0" *ngFor="let modulo of datas[0]; index as i">
    <div class="row p0 m0" style="border-style: groove;">
      <h3 class="m0" style="padding-left: 1em;">
        <strong>{{ modulo.descripcion }}</strong>
      </h3>
    </div>
    <div class="card m0 p0">
      <ng-container *ngFor="let submod of modulo.sub_modulo; index as i">
        <div class="row p0 m0" style="border-style: groove;">
          <h3 class="m0" style="padding-left: 1em;">
            &nbsp; {{ submod.descripcion }}
          </h3>
        </div>
        <div class="card fondo-card p-0 m-0">
          <div class="row p0 m0 card-pad-top" style="border-style: groove;">
            <div class="col-sm-1 col-lg-1"></div>
            <div class="col-sm-10 col-lg-10 col-12">
              <div
                class="col-sm-12 m-auto"
                style="display: flex; flex-wrap: wrap;"
              >
                <div
                  class="col-sm-2 col-5 p0 m-1"
                  style="display: flex;"
                  *ngFor="let comp of submod.componentes"
                >
                  <div class="circulo">
                    {{ comp.secuencia }}
                  </div>
                  <div
                    class="puntero"
                    (click)="component(submod.id_segundonivel, comp.componente)"
                  >
                    <img
                      class="img-fluid icon-width"
                      src="https://pbs.twimg.com/profile_images/522791992762187776/CwgQU9cn.png"
                      alt=""
                      style="border-radius: 3em;"
                    />
                    <p class="text-center" style="padding-top: 1em;">
                      {{ comp.descripcion }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-lg-1"></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
