<body>
  <div class="page-content animaciones haciadentro">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div Class="content d-flex justify-content-center align-items-center">
        <!-- Container -->
        <div class="flex-fill">
          <!-- Error title -->
          <div class="text-center mb-3">
            <h1 class="error-title">404</h1>
            <h5>Oops, Ocurrio un error. P&aacute;gina no encontrada!</h5>
          </div>
          <!-- /error title -->
        </div>
        <!-- /container -->
      </div>
      <!-- /content area -->
    </div>
  </div>
</body>
