html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* estilo de ingreso fadeIn*/
.puntero {
  cursor: pointer;
}

/* Animaciones */
.animaciones {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animacionmodal {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes haciadentroa {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.haciadentro {
  animation-name: haciadentroa;
}

.tablaCebradoPar {
  background-color: aliceblue;
}
.tablaCebradoImpar {
  background-color: white;
}
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
.title-head {
  font-size: 14px;
}
.title-negrita {
  font-weight: 700;
}

.selectCenter {
  text-align-last: center;
}
.height-container {
  height: 100%;
}
/* prueba estilos */
.card-padding {
  padding-left: 2em;
  padding-right: 2em;
}
.margin-botton-card {
  margin-bottom: 0.5em;
}
.padding-title {
  padding: 0.5em;
}

/**-----------global en todos los componentes(cont003,cont004)-----------*/
.labelOpaco {
  color: #808080;
}
.xxl {
  font-size: 2em;
  padding-right: 0.5em;
}

.xxl:hover {
  color: rgba(178, 203, 211, 0.918);
}
@media screen and (max-width: 600px) {
  .xxl {
    font-size: 1.5em;
  }
}

.table td,
.table th {
  padding-top: 0%;
  padding-bottom: 0%;
}
.PRL0 {
  padding-left: 0;
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0.5em;
}

/*activo usuario*/
.gris {
  color: #808080;
}

.verde {
  color: rgb(12, 197, 36);
}
/*modal*/

.modal-header {
  padding: 0.5rem;
}
.modal-header {
  position: relative;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.modal-body {
  padding-bottom: 0px;
}

.card-body {
  padding-bottom: 0em;
}

/*separador h*/
.separadorh {
  border: none;
  height: 1px;
  color: #333;
  background-color: rgb(144, 145, 146);
  margin-bottom: 7px;
}
.font-title {
  font-weight: 600;
}
.modal-title-pb {
  margin-bottom: 1.25rem;
}
.content-animation {
  width: 100%;
  position: relative;
  animation-name: bienvenido;
  animation-duration: 1s;
}
@keyframes bienvenido {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/**-------------fin de global en todos los componentes--------------------*/
