<body class="navbar-top haciadentro animaciones">
  <div class="navbar navbar-expand-md navbar-light navbar-static fixed-top">
    <app-header></app-header>
    <app-control></app-control>
    <app-navbar></app-navbar>
  </div>

  <!-- Page content -->
  <div class="page-content">
    <div
      class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md"
    >
      <!-- Sidebar mobile toggler -->
      <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
          <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
          <i class="icon-screen-full"></i>
          <i class="icon-screen-normal"></i>
        </a>
      </div>
      <!-- /sidebar mobile toggler -->
      <div class="sidebar-content">
        <app-sidebar></app-sidebar>
      </div>
    </div>
    <div style="width: 100%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
